﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@model PanOpTESWeb.ViewModels.HiTestEntry.IndexVM

@{
    ViewBag.Title = "HI Test Entries";
}

<script type="text/javascript">
    var _template = @Html.Raw(JsonConvert.SerializeObject(@Model.TemplateDto, new IsoDateTimeConverter()));
</script>

<div id="tabstrip">
    <ul>
        <li><a href="#tabRest"><span>Reference</span></a></li>
        <li><a href="#tabTest"><span>Test</span></a></li>
        <li><a href="#tabStudy"><span>Study</span></a></li>
        <li><a href="#tabSubtype"><span>SubType</span></a></li>
    </ul>
    <div id="tabRest"><table id="gridRest"></table></div>
    <div id="tabTest"><table id="gridTest"></table></div>
    <div id="tabStudy"><table id="gridStudy"></table></div>
    <div id="tabSubtype"><table id="gridSubTypeControl"></table></div>
</div>
<button id="renderButton">Render</button>

@section Scripts{
    <script>
        var crudServiceBaseUrl = "/PanOpTES/api/HITestEntryService/GetTemplate";
        $(document).ready(function() {

            $("#tabstrip").tabs();
            
            jQuery("#gridRest").jqGrid({
                url: crudServiceBaseUrl,
                datatype: "json",
                mtype: 'GET',                
                postData: {
                    id: '@Model.id',
                    entryType: 'REFERENCE' },                
                colNames: ['Description', 'Harvested', 'Passage', 'Row', 'Column', 'Reference2'],
                colModel: [
                    { name: 'EntryDescription', index: 'EntryDescription', width: 320, editable:false },
                    { name: 'DateHarvested', index: 'DateHarvested', width: 90, editable:false },
                    { name: 'Passage', index: 'Passage', width: 90, editable:false },
                    { name: 'IsRow', index: 'IsRow', width: 90, editable:true, edittype:'checkbox', editoptions: { value:"True:False"}, 
                        formatter: "checkbox", formatoptions: {disabled : false} },
                    { name: 'IsColumn', index: 'IsColumn', width: 90, editable:true, edittype:'checkbox', editoptions: { value:"True:False"}, 
                        formatter: "checkbox", formatoptions: {disabled : false} },
                    { name: 'IsReference2', index: 'IsReference2', width: 90, editable:true, edittype:'checkbox', editoptions: { value:"True:False"}, 
                        formatter: "checkbox", formatoptions: {disabled : false} },
                ],
                sortname: 'Position',
                viewrecords: true,
                loadonce: true,
                sortable: true,
                sortorder: "desc",
                multiselect: false,
                jsonReader: {
                    root:"HITestEntries",
                    repeatitems: false,
                    id: "Id"
                },
                caption: "Reference Entries",
                height: '100%',
            });
            jQuery("#gridTest").jqGrid({
                url: crudServiceBaseUrl,
                datatype: "json",
                mtype: 'GET',                
                postData: {
                    id: '@Model.id',
                    entryType: 'TEST' },                
                colNames: ['Description', 'Harvested', 'Passage', 'Row'],
                colModel: [
                    { name: 'EntryDescription', index: 'EntryDescription', width: 320, editable:false },
                    { name: 'DateHarvested', index: 'DateHarvested', width: 90, editable:false },
                    { name: 'Passage', index: 'Passage', width: 90, editable:false },
                    { name: 'IsRow', index: 'IsRow', width: 90, editable:true, edittype:'checkbox', editoptions: { value:"True:False"}, 
                        formatter: "checkbox", formatoptions: {disabled : false} },
                ],
                sortname: 'Position',
                viewrecords: true,
                loadonce: true,
                sortable: true,
                sortorder: "desc",
                multiselect: false,
                jsonReader: {
                    root:"HITestEntries",
                    repeatitems: false,
                    id: "Id"
                },
                caption: "Test Entries",
                height: '100%',
            });
            jQuery("#gridStudy").jqGrid({
                url: crudServiceBaseUrl,
                datatype: "json",
                mtype: 'GET',                
                postData: {
                    id: '@Model.id',
                    entryType: 'PROJECT' },                
                colNames: ['Description', 'Harvested', 'Passage', 'Row'],
                colModel: [
                    { name: 'EntryDescription', index: 'EntryDescription', width: 320, editable:false },
                    { name: 'DateHarvested', index: 'DateHarvested', width: 90, editable:false },
                    { name: 'Passage', index: 'Passage', width: 90, editable:false },
                    { name: 'IsRow', index: 'IsRow', width: 90, editable:true, edittype:'checkbox', editoptions: { value:"True:False"}, 
                        formatter: "checkbox", formatoptions: {disabled : false} },
                ],
                sortname: 'Position',
                viewrecords: true,
                loadonce: true,
                sortable: true,
                sortorder: "desc",
                multiselect: false,
                jsonReader: {
                    root:"HITestEntries",
                    repeatitems: false,
                    id: "Id"
                },
                caption: "Study Entries",
                height: '100%',
            });   
            jQuery("#gridSubTypeControl").jqGrid({
                url: crudServiceBaseUrl,
                datatype: "json",
                mtype: 'GET',                
                postData: {
                    id: '@Model.id',
                    entryType: 'STCTRL' },                
                colNames: ['Description', 'Harvested', 'Passage', 'Row'],
                colModel: [
                    { name: 'EntryDescription', index: 'EntryDescription', width: 320, editable:false },
                    { name: 'DateHarvested', index: 'DateHarvested', width: 90, editable:false },
                    { name: 'Passage', index: 'Passage', width: 90, editable:false },
                    { name: 'IsRow', index: 'IsRow', width: 90, editable:false },
                ],
                sortname: 'Position',
                viewrecords: true,
                loadonce: true,
                sortable: true,
                sortorder: "desc",
                multiselect: false,
                jsonReader: {
                    root:"HITestEntries",
                    repeatitems: false,
                    id: "Id"
                },
                caption: "SubType Entries",
                height: '100%',
            });
            
            $("#renderButton").button();
            $("#renderButton").click(
                function(e) {
                    var $entriesR = $("#gridRest").jqGrid('getGridParam', 'data');
                    var $entriesT = $("#gridTest").jqGrid('getGridParam', 'data');
                    var $entriesS = $("#gridStudy").jqGrid('getGridParam', 'data');
                    var $entriesSTC = $("#gridSubTypeControl").jqGrid('getGridParam', 'data');
                    var $url = '@Url.Action("Render", "HITestEntry")';
                    var $data = 'template=' + JSON.stringify(_template) + '&reference=' + JSON.stringify($entriesR) + '&test=' + JSON.stringify($entriesT) + '&project=' + JSON.stringify($entriesS) + '&subtypecontrol=' + JSON.stringify($entriesSTC);

                    $.fileDownload($url, {
                        httpMethod: 'POST',
                        data: $data,
                        success: function(result) {
                            alert(result);
                        },
                        error: function(error) {
                            alert(error);
                        }
                    });
                });           
        });
    </script>
@*            var dsReference = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl,
                        dataType: "json",
                        data:
                            { id: '@Model.id', entryType: 'REFERENCE' }
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Position: {
                                editable: true,
                            },
                            EntryDescription: {
                                editable: false,
                            },    
                            DateHarvested: {
                                editable: false,
                            },     
                            Passage: {
                                editable: false,
                            },                                 
                            IsRow: {
                                type: "boolean",
                            },
                            IsColumn: {
                                type: "boolean",
                            },
                            IsReference2: {
                                type: "boolean",
                            }
                            
                           
                        }                        
                    },
                    data: function(response) {
                        return response.HITestEntries;
                    }
                },
                batch: true,
            });
            
            var dsSubTypeControl = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl,
                        dataType: "json",
                        data:
                            { id: '@Model.id', entryType: 'STCTRL' }
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Position: {
                                editable: true,
                            },
                            EntryDescription: {
                                editable: false,
                            },    
                            DateHarvested: {
                                editable: false,
                            },     
                            Passage: {
                                editable: false,
                            },                                 
                            IsRow: {
                                type: "boolean",
                            },
                            IsColumn: {
                                type: "boolean",
                            },
                            IsReference2: {
                                type: "boolean",
                            }
                            
                           
                        }                        
                    },
                    data: function(response) {
                        return response.HITestEntries;
                    }
                },
                batch: true,
            });

            var dsTest = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl,
                        dataType: "json",
                        data:
                            { id: '@Model.id', entryType: 'TEST' }
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Position: {
                                editable: true,
                            },
                            EntryDescription: {
                                editable: false,
                            },   
                            DateHarvested: {
                                editable: false,
                            },     
                            Passage: {
                                editable: false,
                            },                              
                            IsRow: {
                                type: "boolean",
                            },
                            IsColumn: {
                                type: "boolean",
                            }
                           
                        }                        
                    },
                    data: function(response) {
                        return response.HITestEntries;
                    }
                },
                batch: true,
            });

            var dsStudy = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl,
                        dataType: "json",
                        data:
                            { id: '@Model.id', entryType: 'PROJECT' }
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Position: {
                                editable: true,
                            },
                            EntryDescription: {
                                editable: false,
                            },              
                            DateHarvested: {
                                editable: false,
                            },     
                            Passage: {
                                editable: false,
                            },                              
                            IsRow: {
                                type: "boolean",
                            },
                            IsColumn: {
                                type: "boolean",
                            }
                           
                        }                        
                    },
                    data: function(response) {
                        return response.HITestEntries;
                    }
                },
                batch: true,
            });

            var gridT = $("#gridTest").kendoGrid({
                columns: [
                    //{ field: "Position", title: "Position" },
                    { field: "EntryDescription", title: "Description" },
                    { field: "DateHarvested", title: "Harvested" },
                    { field: "Passage", title: "Passage" },
                    { field: "IsRow", title: "Row", template: "<input name='isrow' class='ob-row' type='checkbox' data-bind='checked: IsRow' #= IsRow ? checked='checked' : '' #/>" },
                    //{ field: "IsColumn", title: "Column", template: "<input name='iscolumn' class='ob-column' type='checkbox' data-bind='checked: IsColumn' #= IsColumn ? checked='checked' : '' #/>" },                    
                ],
                dataSource: dsTest,
                sortable: true,
                editable: "incell",
                edit: function(e) {
                    $('input[name=Position]').parent().html(e.model.Position);
                    $('input[name=IsRow]').parent().html(e.model.IsRow);
                    //$('input[name=IsColumn]').parent().html(e.model.IsColumn);
                }                     
            }).data("kendoGrid");

            gridT.tbody.on("change", ".ob-row", function (e) {
                var row = $(e.target).closest("tr");
                var item = gridT.dataItem(row);
                item.set("IsRow", $(e.target).is(":checked") ? 1 : 0);
            });

            //gridT.tbody.on("change", ".ob-column", function (e) {
            //    var row = $(e.target).closest("tr");
            //    var item = gridT.dataItem(row);
            //    item.set("IsColumn", $(e.target).is(":checked") ? 1 : 0);
            //});

            gridT.table.kendoDraggable({
                filter: "tbody > tr",
                cursorOffset: { top: 10, left: 10 },
                group: "gridGroup",
                hint: function(e) {
                    return $('<div class="k-grid k-widget"><table><tbody><tr>' + e.html() + '</tr></tbody></table></div>');
                }
            });

            gridT.table.kendoDropTarget({
                group: "gridGroup",
                drop: function(e) {
                    var target = dsTest.getByUid($(e.draggable.currentTarget).data("uid")),
                        dest = $(e.target);

                    if (dest.is("th")) {
                        return;
                    }
                    dest = dsTest.getByUid(dest.parent().data("uid"));

                    //not on same item
                    if (target.id !== dest.uid) {
                        //reorder the items
                        var tmp = target.get("Position");
                        target.set("Position", dest.get("Position"));
                        dest.set("Position", tmp);

                        dsTest.sort({ field: "Position", dir: "asc" });
                    }
                }
            });

            var gridSTC = $("#gridSubTypeControl").kendoGrid({
                columns: [
                    //{ field: "Position", title: "Position" },
                    { field: "EntryDescription", title: "Description" },
                    { field: "DateHarvested", title: "Harvested" },
                    { field: "Passage", title: "Passage" },
                    { field: "IsRow", title: "Row", template: "<input name='isrow' class='ob-row' type='checkbox' data-bind='checked: IsRow' #= IsRow ? checked='checked' : '' #/>" },
                    //{ field: "IsColumn", title: "Column", template: "<input name='iscolumn' class='ob-column' type='checkbox' data-bind='checked: IsColumn' #= IsColumn ? checked='checked' : '' #/>" },                    
                ],
                dataSource: dsSubTypeControl,
                sortable: true,
                editable: "incell",
                edit: function(e) {
                    $('input[name=Position]').parent().html(e.model.Position);
                    $('input[name=IsRow]').parent().html(e.model.IsRow);
                    //$('input[name=IsColumn]').parent().html(e.model.IsColumn);
                }                     
            }).data("kendoGrid");

            gridSTC.tbody.on("change", ".ob-row", function (e) {
                var row = $(e.target).closest("tr");
                var item = gridSTC.dataItem(row);
                item.set("IsRow", $(e.target).is(":checked") ? 1 : 0);
            });

            //gridSTC.tbody.on("change", ".ob-column", function (e) {
            //    var row = $(e.target).closest("tr");
            //    var item = gridSTC.dataItem(row);
            //    item.set("IsColumn", $(e.target).is(":checked") ? 1 : 0);
            //});

            gridSTC.table.kendoDraggable({
                filter: "tbody > tr",
                cursorOffset: { top: 10, left: 10 },
                group: "gridGroup",
                hint: function(e) {
                    return $('<div class="k-grid k-widget"><table><tbody><tr>' + e.html() + '</tr></tbody></table></div>');
                }
            });

            gridSTC.table.kendoDropTarget({
                group: "gridGroup",
                drop: function(e) {
                    var target = dsSubTypeControl.getByUid($(e.draggable.currentTarget).data("uid")),
                        dest = $(e.target);

                    if (dest.is("th")) {
                        return;
                    }
                    dest = dsSubTypeControl.getByUid(dest.parent().data("uid"));

                    //not on same item
                    if (target.id !== dest.uid) {
                        //reorder the items
                        var tmp = target.get("Position");
                        target.set("Position", dest.get("Position"));
                        dest.set("Position", tmp);

                        dsSubTypeControl.sort({ field: "Position", dir: "asc" });
                    }
                }
            });
            
            var gridR = $("#gridRest").kendoGrid({
                columns: [
                    //{ field: "Position", title: "Position" },
                    { field: "EntryDescription", title: "Description" },
                    { field: "DateHarvested", title: "Harvested" },
                    { field: "Passage", title: "Passage" },                    
                    { field: "IsRow", title: "Row", template: "<input name='isrow' class='ob-row' type='checkbox' data-bind='checked: IsRow' #= IsRow ? checked='checked' : '' #/>" },
                    { field: "IsColumn", title: "Column", template: "<input name='iscolumn' class='ob-column' type='checkbox' data-bind='checked: IsColumn' #= IsColumn ? checked='checked' : '' #/>" },                    
                    { field: "IsReference2", title: "Reference2", template: "<input name='isreference2' class='ob-reference2' type='checkbox' data-bind='checked: IsReference2' #= IsReference2 ? checked='checked' : '' #/>" },                    
                ],
                dataSource: dsReference,
                sortable: true,
                editable: "incell",
                edit: function(e) {
                    $('input[name=Position]').parent().html(e.model.Position);
                    $('input[name=IsRow]').parent().html(e.model.IsRow);
                    $('input[name=IsColumn]').parent().html(e.model.IsColumn);
                    $('input[name=IsReference2]').parent().html(e.model.IsReference2);
                }                     
            }).data("kendoGrid");

            gridR.tbody.on("change", ".ob-row", function (e) {
                var row = $(e.target).closest("tr");
                var item = gridR.dataItem(row);
                item.set("IsRow", $(e.target).is(":checked") ? 1 : 0);
            });

            gridR.tbody.on("change", ".ob-column", function (e) {
                var row = $(e.target).closest("tr");
                var item = gridR.dataItem(row);
                item.set("IsColumn", $(e.target).is(":checked") ? 1 : 0);
            });

            gridR.tbody.on("change", ".ob-reference2", function (e) {
                var row = $(e.target).closest("tr");
                var item = gridR.dataItem(row);
                item.set("IsReference2", $(e.target).is(":checked") ? 1 : 0);
            });

            gridR.table.kendoDraggable({
                filter: "tbody > tr",
                cursorOffset: { top: 10, left: 10 },
                group: "gridGroup",
                hint: function(e) {
                    return $('<div class="k-grid k-widget"><table><tbody><tr>' + e.html() + '</tr></tbody></table></div>');
                }
            });

            gridR.table.kendoDropTarget({
                group: "gridGroup",
                drop: function(e) {
                    var target = dsReference.getByUid($(e.draggable.currentTarget).data("uid")),
                        dest = $(e.target);

                    if (dest.is("th")) {
                        return;
                    }
                    dest = dsReference.getByUid(dest.parent().data("uid"));

                    //not on same item
                    if (target.id !== dest.uid) {
                        //reorder the items
                        var tmp = target.get("Position");
                        target.set("Position", dest.get("Position"));
                        dest.set("Position", tmp);

                        dsReference.sort({ field: "Position", dir: "asc" });
                    }
                }
            });
            
            var gridS = $("#gridStudy").kendoGrid({
                columns: [
                    //{ field: "Position", title: "Position" },
                    { field: "EntryDescription", title: "Description" },
                    { field: "DateHarvested", title: "Harvested" },
                    { field: "Passage", title: "Passage" },                    
                    { field: "IsRow", title: "Row", template: "<input name='isrow' class='ob-row' type='checkbox' data-bind='checked: IsRow' #= IsRow ? checked='checked' : '' #/>" },
                    //{ field: "IsColumn", title: "Column", template: "<input name='iscolumn' class='ob-column' type='checkbox' data-bind='checked: IsColumn' #= IsColumn ? checked='checked' : '' #/>" },                    
                ],
                dataSource: dsStudy,
                sortable: true,
                editable: "incell",
                edit: function(e) {
                    $('input[name=Position]').parent().html(e.model.Position);
                    $('input[name=IsRow]').parent().html(e.model.IsRow);
                    //$('input[name=IsColumn]').parent().html(e.model.IsColumn);
                }                     
            }).data("kendoGrid");

            gridS.tbody.on("change", ".ob-row", function (e) {
                var row = $(e.target).closest("tr");
                var item = gridS.dataItem(row);
                item.set("IsRow", $(e.target).is(":checked") ? 1 : 0);
            });

            //gridS.tbody.on("change", ".ob-column", function (e) {
            //    var row = $(e.target).closest("tr");
            //    var item = gridS.dataItem(row);
            //    item.set("IsColumn", $(e.target).is(":checked") ? 1 : 0);
            //});

            gridS.table.kendoDraggable({
                filter: "tbody > tr",
                cursorOffset: { top: 10, left: 10 },
                group: "gridGroup",
                hint: function(e) {
                    return $('<div class="k-grid k-widget"><table><tbody><tr>' + e.html() + '</tr></tbody></table></div>');
                }
            });

            gridS.table.kendoDropTarget({
                group: "gridGroup",
                drop: function(e) {
                    var target = dsStudy.getByUid($(e.draggable.currentTarget).data("uid")),
                        dest = $(e.target);

                    if (dest.is("th")) {
                        return;
                    }
                    dest = dsStudy.getByUid(dest.parent().data("uid"));

                    //not on same item
                    if (target.id !== dest.uid) {
                        //reorder the items
                        var tmp = target.get("Position");
                        target.set("Position", dest.get("Position"));
                        dest.set("Position", tmp);

                        dsStudy.sort({ field: "Position", dir: "asc" });
                    }
                }
            });            
        });
    </script>*@
    
@*    <script>
        $("#renderButton").kendoButton({
            click: function(e) {
                var $entriesR = $("#gridRest").data("kendoGrid").dataSource.view();
                var $entriesT = $("#gridTest").data("kendoGrid").dataSource.view();
                var $entriesS = $("#gridStudy").data("kendoGrid").dataSource.view();
                var $entriesSTC = $("#gridSubTypeControl").data("kendoGrid").dataSource.view();
                var $url = '@Url.Action("Render", "HITestEntry")';
                $.fileDownload($url, {
                    httpMethod: 'POST',
                    data: 'template=' + JSON.stringify(_template) + '&reference=' + JSON.stringify($entriesR) + '&test=' + JSON.stringify($entriesT) + '&project=' + JSON.stringify($entriesS) + '&subtypecontrol=' + JSON.stringify($entriesSTC),
                    success: function(result) {
                    },
                    error: function(error) {
                    }
                });
                return false;

            }
        });

    </script>*@

}
