﻿@model ContractLab.UI.Models.ContractLab.WHOImportVM
@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "WHO Import";
}

@using (Html.BeginForm("Import", "WHOImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>WHO File Import</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ColumnStart, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ColumnStart, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ColumnStart, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RowStart, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RowStart, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RowStart, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ColumnEnd, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ColumnEnd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ColumnEnd, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RowEnd, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RowEnd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RowEnd, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.PropertyOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PropertyOrder, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PropertyOrder, "", new { @class = "text-danger" })
                </div>
            </div>*@
            @Html.HiddenFor(model => model.PropertyOrder)

            <div class="form-group">
                @Html.Label("WHO File", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="WHOImportFile" name="upload" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PackageId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PackageId", null, htmlAttributes: new { @autofocus = "autofocus", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PackageId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="@ViewBag.SubmitLabel" value="@ViewBag.SubmitLabel" class="btn btn-default" />
                </div>
            </div>

            @{var dummy = Model.WHOSpecimens.FirstOrDefault(); }
            @if (Model.WHOSpecimens.Count > 0)
        {
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(s => dummy.RowNumber)</th>
                        <th>@Html.DisplayNameFor(s => dummy.SpecimenID)</th>
                        <th>@Html.DisplayNameFor(s => dummy.DateCollected)</th>
                        <th>@Html.DisplayNameFor(s => dummy.SpecimenSource)</th>
                        <th>@Html.DisplayNameFor(s => dummy.ReasonForSubmission)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PatientAge)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PatientAgeUnits)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PatientSex)</th>
                        <th>@Html.DisplayNameFor(s => dummy.Country)</th>
                        <th>@Html.DisplayNameFor(s => dummy.State)</th>
                        <th>@Html.DisplayNameFor(s => dummy.County)</th>
                        <th>@Html.DisplayNameFor(s => dummy.City)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PCRInfA)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PCRpdmInfA)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PCRpdmH1)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PCRH3)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PCRInfB)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PCRBVic)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PCRBYam)</th>
                        <th>@Html.DisplayNameFor(s => dummy.WHOSubmittedSubtype)</th>
                        <th>@Html.DisplayNameFor(s => dummy.SubType)</th>
                        <th>@Html.DisplayNameFor(s => dummy.Deceased)</th>
                        <th>@Html.DisplayNameFor(s => dummy.NursingHome)</th>
                        <th>@Html.DisplayNameFor(s => dummy.Vaccinated)</th>
                        <th>@Html.DisplayNameFor(s => dummy.TravelCountry)</th>
                        <th>@Html.DisplayNameFor(s => dummy.TravelState)</th>
                        <th>@Html.DisplayNameFor(s => dummy.TravelCounty)</th>
                        <th>@Html.DisplayNameFor(s => dummy.TravelCity)</th>
                        <th>@Html.DisplayNameFor(s => dummy.TravelReturnDate)</th>
                        @*<th>@Html.DisplayNameFor(s => dummy.HostCellLine)</th>
                        <th>@Html.DisplayNameFor(s => dummy.Substrate)</th>
                        <th>@Html.DisplayNameFor(s => dummy.PassageNumber)</th>*@
                        <th>@Html.DisplayNameFor(s => dummy.PassageHistory)</th>
                        <th>@Html.DisplayNameFor(s => dummy.Comments)</th>
                    </tr>
                    @for (var i = 0; i < Model.WHOSpecimens.Count; i++)
                {
                        <tr>
                            <td style="@(Model.WHOSpecimens[i].IsError ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].RowNumber, new { title = Model.WHOSpecimens[i].RowError })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].SpecimenID_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].SpecimenID, new { title = Model.WHOSpecimens[i].SpecimenID_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].DateCollected_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].DateCollectedDisplay, new { title = Model.WHOSpecimens[i].DateCollected_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].SpecimenSource_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].SpecimenSource, new { title = Model.WHOSpecimens[i].SpecimenSource_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].ReasonForSubmission_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].ReasonForSubmission, new { title = Model.WHOSpecimens[i].ReasonForSubmission_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PatientAge_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PatientAge, new { title = Model.WHOSpecimens[i].PatientAge_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PatientAgeUnits_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PatientAgeUnits, new { title = Model.WHOSpecimens[i].PatientAgeUnits_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PatientSex_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PatientSex, new { title = Model.WHOSpecimens[i].PatientSex_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].Country_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].Country, new { title = Model.WHOSpecimens[i].Country_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].State_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].State, new { title = Model.WHOSpecimens[i].State_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].County_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].County, new { title = Model.WHOSpecimens[i].County_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].City_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].City, new { title = Model.WHOSpecimens[i].City_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PCRInfA_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PCRInfA, new { title = Model.WHOSpecimens[i].PCRInfA_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PCRpdmInfA_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PCRpdmInfA, new { title = Model.WHOSpecimens[i].PCRpdmInfA_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PCRpdmH1_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PCRpdmH1, new { title = Model.WHOSpecimens[i].PCRpdmH1_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PCRH3_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PCRH3, new { title = Model.WHOSpecimens[i].PCRH3_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PCRInfB_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PCRInfB, new { title = Model.WHOSpecimens[i].PCRInfB_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PCRBVic_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PCRBVic, new { title = Model.WHOSpecimens[i].PCRBVic_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PCRBYam_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PCRBYam, new { title = Model.WHOSpecimens[i].PCRBYam_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].WHOSubmittedSubtype_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].WHOSubmittedSubtype, new { title = Model.WHOSpecimens[i].WHOSubmittedSubtype_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].SubType_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].SubType, new { title = Model.WHOSpecimens[i].SubType_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].Deceased_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].Deceased, new { title = Model.WHOSpecimens[i].Deceased_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].NursingHome_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].NursingHome, new { title = Model.WHOSpecimens[i].NursingHome_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].Vaccinated_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].Vaccinated, new { title = Model.WHOSpecimens[i].Vaccinated_Error })
                            </td>

                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].TravelCountry_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].TravelCountry, new { title = Model.WHOSpecimens[i].TravelCountry_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].TravelState_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].TravelState, new { title = Model.WHOSpecimens[i].TravelState_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].TravelCounty_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].TravelCounty, new { title = Model.WHOSpecimens[i].TravelCounty_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].TravelCity_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].TravelCity, new { title = Model.WHOSpecimens[i].TravelCity_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].TravelReturnDate_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].TravelReturnDateDisplay, new { title = Model.WHOSpecimens[i].TravelReturnDate_Error })
                            </td>
                            @*<td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].HostCellLine_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].HostCellLine, new { title = Model.WHOSpecimens[i].HostCellLine_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].Substrate_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].Substrate, new { title = Model.WHOSpecimens[i].Substrate_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PassageNumber_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PassageNumber, new { title = Model.WHOSpecimens[i].PassageNumber_Error })
                            </td>*@
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].PassageHistory_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].PassageHistory, new { title = Model.WHOSpecimens[i].PassageHistory_Error })
                            </td>
                            <td style="@(!String.IsNullOrEmpty(Model.WHOSpecimens[i].Comments_Error) ? "border: 5px solid red" : null)">
                                @Html.SpanFor(s => Model.WHOSpecimens[i].Comments, new { title = Model.WHOSpecimens[i].Comments_Error })
                            </td>
                        </tr>
                }
                </table>
            for (var i = 0; i < Model.WHOSpecimens.Count; i++)
            {
                @Html.Hidden("WHOSpecimens[" + (@i) + "].SpecimenID", Model.WHOSpecimens[i].SpecimenID)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].SpecimenID_Error", Model.WHOSpecimens[i].SpecimenID_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].DateCollected", Model.WHOSpecimens[i].DateCollected)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].DateCollected_Error", Model.WHOSpecimens[i].DateCollected_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PatientAge", Model.WHOSpecimens[i].PatientAge)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PatientAge_Error", Model.WHOSpecimens[i].PatientAge_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PatientAgeUnits", Model.WHOSpecimens[i].PatientAgeUnits)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PatientAgeUnits_Error", Model.WHOSpecimens[i].PatientAgeUnits_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PatientSex", Model.WHOSpecimens[i].PatientSex)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PatientSex_Error", Model.WHOSpecimens[i].PatientSex_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].County", Model.WHOSpecimens[i].County)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].County_Error", Model.WHOSpecimens[i].County_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].State", Model.WHOSpecimens[i].State)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].State_Error", Model.WHOSpecimens[i].State_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].SpecimenSource", Model.WHOSpecimens[i].SpecimenSource)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].SpecimenSource_Error", Model.WHOSpecimens[i].SpecimenSource_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].SubType", Model.WHOSpecimens[i].SubType)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].SubType_Error", Model.WHOSpecimens[i].SubType_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].ReasonForSubmission", Model.WHOSpecimens[i].ReasonForSubmission)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].ReasonForSubmission_Error", Model.WHOSpecimens[i].ReasonForSubmission_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Deceased", Model.WHOSpecimens[i].Deceased)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Deceased_Error", Model.WHOSpecimens[i].Deceased_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].NursingHome", Model.WHOSpecimens[i].NursingHome)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].NursingHome_Error", Model.WHOSpecimens[i].NursingHome_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Vaccinated", Model.WHOSpecimens[i].Vaccinated)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Vaccinated_Error", Model.WHOSpecimens[i].Vaccinated_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Comments", Model.WHOSpecimens[i].Comments)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Comments_Error", Model.WHOSpecimens[i].Comments_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].IsError", Model.WHOSpecimens[i].IsError)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].RowNumber", Model.WHOSpecimens[i].RowNumber)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].RowError", Model.WHOSpecimens[i].RowError)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelCountry", Model.WHOSpecimens[i].TravelCountry)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelCountry_Error", Model.WHOSpecimens[i].TravelCountry_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelState", Model.WHOSpecimens[i].TravelState)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelState_Error", Model.WHOSpecimens[i].TravelState_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelCounty", Model.WHOSpecimens[i].TravelCounty)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelCounty_Error", Model.WHOSpecimens[i].TravelCounty_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelCity", Model.WHOSpecimens[i].TravelCity)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelCity_Error", Model.WHOSpecimens[i].TravelCity_Error)
                @*@Html.Hidden("WHOSpecimens[" + (@i) + "].HostCellLine", Model.WHOSpecimens[i].HostCellLine)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].HostCellLine_Error", Model.WHOSpecimens[i].HostCellLine_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Substrate", Model.WHOSpecimens[i].Substrate)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Substrate_Error", Model.WHOSpecimens[i].Substrate_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PassageNumber", Model.WHOSpecimens[i].PassageNumber)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PassageNumber_Error", Model.WHOSpecimens[i].PassageNumber_Error)*@
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRInfA", Model.WHOSpecimens[i].PCRInfA)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRInfA_Error", Model.WHOSpecimens[i].PCRInfA_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRpdmInfA", Model.WHOSpecimens[i].PCRpdmInfA)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRpdmInfA_Error", Model.WHOSpecimens[i].PCRpdmInfA_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRpdmH1", Model.WHOSpecimens[i].PCRpdmH1)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRpdmH1_Error", Model.WHOSpecimens[i].PCRpdmH1_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRH3", Model.WHOSpecimens[i].PCRH3)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRH3_Error", Model.WHOSpecimens[i].PCRH3_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRInfB", Model.WHOSpecimens[i].PCRInfB)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRInfB_Error", Model.WHOSpecimens[i].PCRInfB_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRBVic", Model.WHOSpecimens[i].PCRBVic)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRBVic_Error", Model.WHOSpecimens[i].PCRBVic_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRBYam", Model.WHOSpecimens[i].PCRBYam)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PCRBYam_Error", Model.WHOSpecimens[i].PCRBYam_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].City", Model.WHOSpecimens[i].City)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].City_Error", Model.WHOSpecimens[i].City_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelReturnDate", Model.WHOSpecimens[i].TravelReturnDate)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].TravelReturnDate_Error", Model.WHOSpecimens[i].TravelReturnDate_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Country", Model.WHOSpecimens[i].Country)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].Country_Error", Model.WHOSpecimens[i].Country_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PassageHistory", Model.WHOSpecimens[i].PassageHistory)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].PassageHistory_Error", Model.WHOSpecimens[i].PassageHistory_Error)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].WHOSubmittedSubtype", Model.WHOSpecimens[i].WHOSubmittedSubtype)
                @Html.Hidden("WHOSpecimens[" + (@i) + "].WHOSubmittedSubtype_Error", Model.WHOSpecimens[i].WHOSubmittedSubtype_Error)

                
            }
        }

        </div>
}