﻿@model ContractLab.UI.Models.ContractLab.AliquotVM

@{
    ViewBag.Title = "Aliquots";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aliquot</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CSID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CSID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CUID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manifest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manifest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsStoredLocally)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsStoredLocally)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IsolateId, new { htmlAttributes = new { @class = "form-control" } })
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = Model.IsolateId })
        </div>
    }
</div>
