﻿@model ContractLab.UI.Models.ContractLab.AliquotVM

@{
    ViewBag.Title = "Aliquots";
}

<h2>Details</h2>

<div>
    <h4>Aliquot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CSID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CSID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CUID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manifest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manifest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsStoredLocally)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsStoredLocally)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { id = Model.IsolateId })
</p>
