﻿@model ContractLab.UI.Models.ContractLab.AliquotVM

@{
    ViewBag.Title = "Aliquots";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Aliquot</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsolateId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(model => model.CUID, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            @Html.LabelFor(model => model.CSID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CSID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubType, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TestCode", null, htmlAttributes: new { @autofocus = "autofocus", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TestCode, "", new { @class = "text-danger" })
            </div>
        </div>


@if (ViewBag.AllowC)
{
        <div class="form-group">
            @Html.LabelFor(model => model.ManifestId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ManifestId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ManifestId, "", new { @class = "text-danger" })
            </div>
        </div>
}
else
{
    <div class="form-group">
        @Html.LabelFor(model => model.ManifestId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ManifestId", null, htmlAttributes: new { @disabled = "disabled", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ManifestId, "", new { @class = "text-danger" })
        </div>
    </div>
}
@if (User.IsInRole("Admin"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
        </div>
    </div>
}
else
{
    <div class="form-group">
        @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StatusId", null, htmlAttributes: new { @disabled = "disabled", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
        </div>
    </div>
}
        <div class="form-group">
            @Html.LabelFor(model => model.IsStoredLocally, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsStoredLocally, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsStoredLocally, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.IsolateId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ContractLab")
    @Scripts.Render("~/bundles/jquery-easyui")
    <script>
    function initialize() {
        $('#TestCode').change(function () {
            var codes = "@ViewBag.LocalTestCodes";
            var codeArray = codes.split(",");
            if ($.inArray($(this).val(), codeArray) >= 0 ) {
                $('#IsStoredLocally').prop('checked', true);
            } else
            {
                $('#IsStoredLocally').prop('checked', false);
            }
        });
    };
    initialize();
    </script>
}