﻿@model IEnumerable<ContractLab.UI.Models.ContractLab.AliquotVM>

@{
    ViewBag.Title = "Aliquots";
}

<h2>Aliquot Information</h2>
@if (ViewBag.AllowC)
{
<p>
    <table>
        <tr>
        <td style="padding-left: 20px">
            @Html.ActionLink("Create New", "Create", new { id = ViewBag.IsolateId })
</td>
            <td style="padding-left: 20px" >
@using (Html.BeginForm("CreateMultiple", "Aliquots", FormMethod.Post, new { id = "CreateMultipleForm" }))
{
    @Html.Hidden("IsolateId", (object)ViewBag.IsolateId)
    if (ViewBag.AllowC)
    {
        <table><tr><td>@Html.DropDownList("ManifestId", null, htmlAttributes: new { @class = "form-control", style = "display:inline;" })</td><td style="padding-left: 20px"><input type="submit" value="Create Grown Set" name ="GROWN" class="btn btn-default" /><td style="padding-left: 20px"><input type="submit" value="Create ITT Set" name="ITT" class="btn btn-default" /></td></tr></table>
    }
}</td>
        </tr>
    </table>    
</p>
    

}


<script>

    function onDownloadClick(sourceName) {
        $('input[name^="submitDL"]')  // for all checkboxes
        .each(function () {
            $(this).remove();
        })
        $('<input/>').attr('type', 'hidden').attr('name', sourceName).attr('value', 1).appendTo('#MultiActionForm');
        $('#MultiActionForm').submit();
    }

    function onPrintClick(sourceName) {
        $('#submitPLP').remove();
        $('#' + sourceName).remove();
        var sourceInput = $('<input>').attr({
            type: 'hidden',
            id: sourceName,
            name: sourceName,
            value: sourceName
        });
        $('#MultiActionForm').append(sourceInput);
        $('.alert').hide();
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Aliquots")",
            data: $('#MultiActionForm').serialize(),
        datatype: "html",
        success: function (data) {
            //$.ajaxSettings.traditional = true;
            $.ajax({
                contentType: "application/json; charset=utf-8",
                type: "POST",
                url: data.url,
                data: JSON.stringify(data),
                datatype: "json",
                success: function (dataP) {
                    $("#checkboxes input").each(function () {
                        $(this).prop("checked", false);
                    });
                },
                error: function (respE) {
                    $('#printerrortext').text("Error communicating to printer bridge");
                    $('.alert').show();
                }
            });
        },
        error: function () {
            $('#printerrortext').text("Error getting label information from server");
            $('.alert').show();
        }
    });
    }

    function onPrintClick_Dialog(sourceName) {
        $('#submitPL').remove();
        $('#' + sourceName).remove();
        var sourceInput = $('<input>').attr({
            type: 'hidden',
            id: sourceName,
            name: sourceName,
            value: sourceName
        });

        $('#MultiActionForm').append(sourceInput);
        $('.alert').hide();
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Aliquots")",
            data: $('#MultiActionForm').serialize(),
        datatype: "html",
        success: function (data) {
            var printWindow = window.open();
            printWindow.document.open('text/plain')
            printWindow.document.write(data);
            printWindow.document.close();
            printWindow.focus();
            printWindow.print();
            printWindow.close();
        },
        error: function () {
        }
    });
    }

    function onResetClick()
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Aliquots")",
            data: $('#MultiActionForm').serialize(),
        datatype: "html",
        success: function (data) {
            //$.ajaxSettings.traditional = true;
            $.ajax({
                contentType: "text/html; charset=utf-8",
                type: "GET",
                url: data.url + "/RESET/",
                success: function (dataR) {
                    $('.alert').hide();
                },
                error: function (respE) {
                    $('#printerrortext').text("Error resetting the printer bridge");
                }
            });
        },
        error: function () {
            $('#printerrortext').text("Error getting printer information from server");
            $('.alert').show();
        }
    });
    }
</script>

@{ Html.RenderPartial("_Dialog"); }

@using (Html.BeginForm("MultiAction", "Aliquots", FormMethod.Post, new { id = "MultiActionForm" }))
{
    @Html.Hidden("ParentId", (object)ViewBag.IsolateId)
    <div id="checkboxes">
        <table class="table">
            <tr>
                <td colspan="7"><table><tr>
                <td style="padding-left: 20px">
                    <div class="btn-group">
                        <button data-loading-text="Transmit" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Transmit<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLSTrs" type="submit" class="btn btn-default" data-loading-text="Specimens">Specimens</a></li>
                            <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLATrs" type="submit" class="btn btn-default" data-loading-text="Aliquots">Aliquots</a></li>
                        </ul>
                    </div>
                </td>
               <td>
                   <button data-loading-text="Print Labels" name="submitPL" type="button" class="btn btn-default" onclick="onPrintClick(this.name);">Print Labels</button>
                   <button data-loading-text="Print Labels (Dialog)" name="submitPLP" type="button" class="btn btn-default" onclick="onPrintClick_Dialog(this.name);">Print Labels (Dialog)</button>
               </td>
                                           <td colspan="4" style="padding-left: 20px">
                                               <div class="alert alert-danger" style="display: none">
                                                   <a aria-label="close" class="close" onclick="$('.alert').hide()">&times;</a>
                                                   <div id="printerror">
                                                       <span id="printerrortext"></span>
                                                       <br />
                                                       <button data-loading-text="Reset" type="button" class="btn btn-warning btn-xs" onclick="onResetClick();">Reset</button>
                                                   </div>
                                               </div>
                                           </td>    
                </tr></table>
            </td>
            </tr>
            <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>
                    @Html.DisplayNameFor(model => model.CSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CUID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manifest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsStoredLocallyDisplay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
            @{var items = Model.ToList();}
            @for (int i = 0; i < items.Count; i++)
            {
                var item = items[i];
                <tr>
                    <td style="text-align:center">
                        @Html.Hidden("Items[" + (@i) + "].Id", item.Id)
                        @Html.CheckBox("Items[" + (@i) + "].Selected", item.Selected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CSID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CUID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manifest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsStoredLocallyDisplay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="padding-left: 5px">
                                                                        @if (item.AllowRUD)
                                                                            {@Html.ActionLink("Edit", "Edit", new { id = item.Id })}
</td>
                                <td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                                <td style="padding-left: 5px">
                                                                        @if (item.AllowRUD)
                                                                            {@Html.ActionLink("Delete", "Delete", new { id = item.Id })}
</td>
                            </tr>
                        </table>
                    </td>
                </tr>
}
        </table>
        <p>
            @Html.ActionLink("Go to Sub Sample Details", "Details", "Isolates", new { id = ViewBag.IsolateId }, null)
</p>
    </div>
        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ContractLab")
    @if (!String.IsNullOrEmpty(ViewBag.DialogTitle))
    {
        <script type="text/javascript">
            $('#dialogModal').modal('show');
        </script>
    }
}