﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>@ViewContext.Controller.GetType().Assembly.GetName().Version</p>
<p>@File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location)</p>
<p>@ViewBag.Version</p>
<p>@ViewBag.AppliedOn</p>

<p>Remaining CSID: @ViewBag.CSIDCount</p>
<p>Remaining CUID: @ViewBag.CUIDCount</p>
