﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Support:</strong><a href="mailto:myostdaljev@jmichael-consulting.com">myostdaljev@jmichael-consulting.com</a><br />
    <strong>APHL:</strong> <a href="mailto:melissa.warren@aphl.org">melissa.warren@aphl.org</a>
</address>