﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>APHL Contract Lab</h1>
    <p class="lead">Welcome to the APHL Contract Lab Accessioning Portal.</p>
@if (!Request.IsAuthenticated)
{
    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
}
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Packages</h2>
        <p>Enter packages received from submitting labs.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Packages")">Packages &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Specimens</h2>
        <p>Enter specimens received from submitting labs.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Specimens")">Specimens &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manifests</h2>
        <p>Create manifests and assign aliquots for shipping.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Manifests")">Manifests &raquo;</a></p>
    </div>
</div>