﻿@{
    ViewBag.Title = "HI Test Upload";
}

Select a completed HITest template to upload:

@using (Html.BeginForm("Index", "HITestUpload", FormMethod.Post, new { enctype = "multipart/form-data" , id = "form"}))
{
    <p>HI Test Description: <input type="text" name="description" id="description"/></p>
    <p><input type="file" name="file" id="file"/></p>
    <p><input type="submit" value="Upload" id="submit"/></p>
}

<script>
    $(document).ready(function () {
        $("#file").kendoUpload({ multiple: false });
    });
</script>