﻿@model ContractLab.UI.Models.ContractLab.LabVM

@{
    ViewBag.Title = "Lab";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Lab</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @autofocus = "autofocus", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrinterURI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrinterURI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrinterURI, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LabelTestCodeOrder, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LabelTestCodeOrder, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LabelTestCodeOrder, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LabelPreamble, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LabelPreamble, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LabelPreamble, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LabelFormatString, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LabelFormatString, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LabelFormatString, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WHOLabelFormatString, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WHOLabelFormatString, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WHOLabelFormatString, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Key")
        <div class="col-md-10">
            <table>
                <tr>
                    <td width="50%">{0} Aliquot.CUID</td>
                    <td width="50%">{5} Isolate.PassageLevel</td>
                </tr>
                <tr>
                    <td width="50%">{1} Specimen.SubType</td>
                    <td width="50%">{6} Aliquot.TestCode</td>
                </tr>
                <tr>
                    <td width="50%">{2} Specimen.SpecimenID</td>
                    <td width="50%">{7} Isolate.Titer</td>
                </tr>
                <tr>
                    <td width="50%">{3} Specimen.CSID</td>
                    <td width="50%">{8} Specimen.State</td>
                </tr>
                <tr>
                    <td width="50%">{4} Isolate.DateHarvested</td>
                    <td width="50%">{9} Aliquot.CUID (128C Encoded)</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LabelPostamble, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LabelPostamble, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LabelPostamble, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StoredLocallyCodes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StoredLocallyCodes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StoredLocallyCodes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AliquotVersionCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AliquotVersionCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AliquotVersionCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GrownTestCodeList, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (User.IsInRole("Admin"))
            {@Html.EditorFor(model => model.GrownTestCodeList, new { htmlAttributes = new { @class = "form-control" } }) }
        else
        { @Html.EditorFor(model => model.GrownTestCodeList, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })}
            @Html.ValidationMessageFor(model => model.GrownTestCodeList, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IttTestCodeList, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (User.IsInRole("Admin"))
            {@Html.EditorFor(model => model.IttTestCodeList, new { htmlAttributes = new { @class = "form-control" } }) }
        else
        { @Html.EditorFor(model => model.IttTestCodeList, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })}
            @Html.ValidationMessageFor(model => model.IttTestCodeList, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
