﻿@model ContractLab.UI.Models.ContractLab.LabVM
@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Projects";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrinterURI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterURI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabelPreamble)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.LabelPreamble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabelFormatString)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.LabelFormatString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WHOLabelFormatString)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.WHOLabelFormatString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabelPostamble)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.LabelPostamble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoredLocallyCodes)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.StoredLocallyCodes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AliquotVersionCode)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.AliquotVersionCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LabelTestCodeOrder)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.LabelTestCodeOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrownTestCodeList)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.GrownTestCodeList)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IttTestCodeList)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.IttTestCodeList)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
