﻿@model IEnumerable<ContractLab.UI.Models.ContractLab.LabVM>
@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Labs";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{ 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrinterURI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoredLocallyCodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabelTestCodeOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrownTestCodeList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IttTestCodeList)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrinterURI)
        </td>
        <td>
            @Html.DisplayWithBreaksFor(modelItem => item.StoredLocallyCodes)
        </td>
        <td>
            @Html.DisplayWithBreaksFor(modelItem => item.LabelTestCodeOrder)
        </td>
        <td>
            @Html.DisplayWithBreaksFor(modelItem => item.GrownTestCodeList)
        </td>
        <td>
            @Html.DisplayWithBreaksFor(modelItem => item.IttTestCodeList)
        </td>
        <td>
        <td style="padding-left: 5px">
            @if (true)
            {@Html.ActionLink("Edit", "Edit", new { id = item.Id })}
        </td>
        <td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
        <td style="padding-left: 5px">
            @if (User.IsInRole("Admin"))
            {@Html.ActionLink("Delete", "Delete", new { id = item.Id })}
        </td>

        </td>
    </tr>
}

</table>
