﻿@model ContractLab.UI.Models.ContractLab.IsolateTypeVM

@{
    ViewBag.Title = "Isolate Types";
}

<h2>Details</h2>

<div>
    <h4>IsolateType</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
