﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

        .mycss1 {
            font-weight: bold;
            color: #000000;
            letter-spacing: 1pt;
            word-spacing: 2pt;
            font-size: 12px;
            text-align: center;
            font-family: arial, helvetica, sans-serif;
            line-height: 1;
        }
        .mycss2 {
            font-weight: normal;
            color: #000000;
            letter-spacing: 1pt;
            word-spacing: 2pt;
            font-size: 12px;
            text-align: left;
            font-family: arial, helvetica, sans-serif;
            line-height: 1;
        }


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}