﻿@model ContractLab.UI.Models.ContractLab.SenderCompositeVM

@{
    ViewBag.Title = "Senders";
}

<h2>Details</h2>

<div>
    <h4>Sender</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RasClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RasClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FluSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FluSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactFluSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactFluSeason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RasClientId }) | @Html.ActionLink("Back to List", "Index")
</p>
