﻿@model VirtualPagedList<ContractLab.UI.Models.ContractLab.SenderCompositeVM>
@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Senders";
}

<script>
    function CallChangefunc() {
        var btnIcon = $("#applybutton i");
        if (btnIcon) {
            btnIcon.addClass("glyphicon gly-spin glyphicon-repeat");
        }

        var pgsz = $("#PageSize option:selected").val();
        var fltr = $("#IdFilter").val();
        if (fltr)
        {
            fltr = "&IdFilter=" + fltr;
        } else
        {
            fltr = "";
        }

        var FluSeasonfltr = $("#FluSeason").val();
        if (FluSeasonfltr)
        {
            FluSeasonfltr = "&FluSeason=" + FluSeasonfltr;
        } else
        {
            FluSeasonfltr = "";
        }

        var sortOrder = @Html.Raw(Json.Encode(ViewBag.SortOrder));
        if (sortOrder)
        {
            sortOrder = "&SortOrder=" + sortOrder;
        } else
        {
            sortOrder = "";
        }

        window.location.href = "@Url.Action("Index", "Senders")" + "?PageSize=" + pgsz + fltr + FluSeasonfltr + sortOrder;
    }
</script>


<h2>Package Log-In</h2>
@if (ViewBag.AllowC)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Delete All", "DeleteAll")
    </p>
}
<table class="table">
    @{var dummy = Model.FirstOrDefault(); }
    <tr>
        <td colspan="7">
            <table>
                <tr>
                    <th>@Html.Label("Contains")</th>
                    <th style="padding-left: 20px">@Html.Label("Season")</th>
                    <th style="padding-left: 20px"></th>
                </tr>
                <tr>
                    <td>@Html.TextBox("IdFilter", (string)ViewBag.Filter, new { @class = "form-control text-box single-line valid" })</td>
                    <td style="padding-left: 20px">@Html.TextBox("FluSeason", (int?)ViewBag.FluSeason, new { @class = "form-control text-box single-line valid", @type = "number" })</td>
                    <td style="padding-left: 20px">
                        <button id="applybutton" type="button" class="btn btn-default" onclick="CallChangefunc();"><i></i> Apply</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.RasClientId).ToString(), "Index", new { SortOrder = ViewBag.SortParm["Sender.RasClientId"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, FluSeason = ViewBag.FluSeason })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.CompanyName).ToString(), "Index", new { SortOrder = ViewBag.SortParm["Sender.CompanyName"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, FluSeason = ViewBag.FluSeason })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.State).ToString(), "Index", new { SortOrder = ViewBag.SortParm["Sender.State"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, FluSeason = ViewBag.FluSeason })
        </th>
        <th>
            @Html.LabelFor(model => dummy.FullName)
            @*@Html.ActionLink(Html.DisplayNameFor(model => dummy.FullName).ToString(), "Index", new { SortOrder = ViewBag.SortParm["Contact.FullName"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })*@
        </th>
        <th>
            @Html.LabelFor(model => dummy.Email)
            @*@Html.ActionLink(Html.DisplayNameFor(model => dummy.Email).ToString(), "Index", new { SortOrder = ViewBag.SortParm["Contact.Email"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })*@
        </th>
        <th>
            @Html.LabelFor(model => dummy.Phone)
            @*@Html.ActionLink(Html.DisplayNameFor(model => dummy.Phone).ToString(), "Index", new { SortOrder = ViewBag.SortParm["Contact.Phone"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })*@
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Items.Count; i++)
    {
        var item = Model.Items[i];
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RasClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td style="padding-left: 5px">
                <table>
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.RasClientId })
                        </td>
                        <td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { id = item.RasClientId })</td>
                        <td style="padding-left: 5px">
                            @Html.ActionLink("Delete", "Delete", new { id = item.RasClientId })
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
</table>
<table>
    <tr>
        <td>
            @Html.BootstrapPager(Model.PageIndex, index => Url.Action("Index", "Senders", new { page = index, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortOrder, FluSeason = ViewBag.FluSeason }), Model.TotalItemCount, (int)ViewBag.PageSize, 10)
        </td>
        <td style="padding-left: 20px">
            @Html.Label("Displaying " + @Model.ItemStart + "-" + @Model.ItemEnd + " of " + @Model.TotalItemCount + " items(s)")
        </td>
        <td style="padding-left: 20px">
            @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizes, new { @onchange = "CallChangefunc();", @class = "form-control" })
        </td>
    </tr>
</table> 