﻿@model ContractLab.UI.Models.ContractLab.AliquotVM
@{
    Layout = "";
}
@using ContractLab.UI.App_Code;

<tr id="aliquotRow">
    <td>
        @Html.DisplayFor(x => x.CSID)
    </td>
    <td style="padding-left: 5px">
        @Html.DisplayFor(x => x.SubType)
    </td>
    <td style="padding-left: 5px">
        @Html.DisplayFor(x => x.CUID)
    </td>
    <td style="padding-left: 5px">
        @Html.DisplayFor(x => x.TestCode)
    </td>
    <td style="padding-left: 5px">
        <a href="#" onclick="$(this).closest('tr').remove(); var i = $('#AliquotCount').val(); i--; $('#AliquotCount').val(i);">Remove</a>
    </td>
    <td style="padding-left: 5px">
        <input type="hidden" name="AliquotIds" value="@Model.Id" />
    </td>
</tr>