﻿@model ContractLab.UI.Models.ContractLab.ManifestVM
@*http://www.smashingmagazine.com/2015/01/designing-for-print-with-css/*@
@{
    Layout = "";
}
<style type="text/css" media="all">
		@@page {
			size: A4 portrait; /* can use also 'landscape' for orientation */
            margin: 5%;

            @@bottom-right {
            content: "Page " counter(page) " of " counter(pages);
            }
            
            @@bottom-left {
            content: 'Date Printed: @String.Format("{0:dd MMM yyyy}", DateTime.Now)'
            }
	    }

        @@page :first {
    		size: A4 portrait; /* can use also 'landscape' for orientation */
            margin: 5%;

			@@top-center {
				content: element(sender_address);
			}
            
            @@bottom-right {
            content: "Page " counter(page) " of " counter(pages);
            }

            @@bottom-left {
            content: 'Date Printed: @String.Format("{0:dd MMM yyyy}", DateTime.Now)'
            }
        }

        table {
            width: 100%;
            margin-left:0%; 
            margin-right:0%;
            border-collapse:collapse
        }

        tr:nth-child(even) {
                background: #ccc;
            }

        td {
            text-align: left;
        }

        th {
            text-align: left;
        }

		#sender_address {
			display: block;
			position: running(header);
            text-align: center;
		}

		#inside_address {
			display: block;
			position: running(header);
            text-align: left;
            word-wrap: normal;
            float: left;
            width: 50%;
            white-space: pre-line;
		}

    	#date_condition {
		    display: block;
		    position: running(header);
            text-align: right;
            word-wrap: normal;
            float: right;
		}

    	#body_start {
			display: block;
			position: running(header);
            text-align: center;
		}

		#page-header {
			display: block;
			position: running(header);
		}

		#page-footer {
			display: block;
			position: running(footer);
		}

</style>

<div id="sender_address">
    <h4>
        APHL Contract Lab Accessioning Website Shipping Manifest
    </h4>
</div>

<div id="inside_address">
    <p>
        WHO COLLABORATING CENTER FOR INFLUENZA
        Centers for Disease Control
        1600 Clifton Road, G-16
        Atlanta, GA 30329-4018
        Voice (404) 639-0250
    </p>
</div>

<div id="date_condition">
    <p style="max-width: 35ex">
        From Lab: @Html.DisplayFor(model => model.Lab.Name)<br />
    </p>
</div>
<div style="clear: both;"></div>
<div id="body_start">

</div>

<table id="body_data">
    @{var dummy = Model.Aliquots.FirstOrDefault(); }
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => dummy.CSID)</th>
            <th>@Html.DisplayNameFor(model => dummy.TubeCount)</th>
            <th>@Html.DisplayNameFor(model => dummy.CUID)</th>
            <th>@Html.DisplayNameFor(model => dummy.TestCode)</th>
            <th>@Html.DisplayNameFor(model => dummy.SpecimenId)</th>
            <th>@Html.DisplayNameFor(model => dummy.SubType)</th>
            <th>@Html.DisplayNameFor(model => dummy.DateHarvested)</th>
            <th>@Html.DisplayNameFor(model => dummy.DateCollected)</th>
        </tr>
   </thead>
    <tbody>
        @foreach (var item in Model.Aliquots.OrderBy(s => s.CSID).ThenBy(s => s.CUID))
        {
            <tr>
                <td>@Html.DisplayFor(s => item.CSID)</td>
                <td>@Html.DisplayFor(s => item.TubeCount)</td>
                <td>@Html.DisplayFor(s => item.CUID)</td>
                <td>@Html.DisplayFor(s => item.TestCode)</td>
                <td>@Html.DisplayFor(s => item.SpecimenId)</td>
                <td>@Html.DisplayFor(s => item.SubType)</td>
                <td>@Html.DisplayFor(s => item.DateHarvested)</td>
                <td>@Html.DisplayFor(s => item.DateCollected)</td>
            </tr>
        }
    </tbody>
</table>