﻿@model ContractLab.UI.Models.ContractLab.ManifestVM

@{
    ViewBag.Title = "Manifests";
}

<h2>Edit</h2>


@*@using (Html.BeginForm())*@
@using (Html.BeginForm("Edit", "Manifests", FormMethod.Post, new { id = "EditForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Manifest</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsVisible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsVisible, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsVisible, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateShipped, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateShipped, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DateShipped, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrackingNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrackingNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrackingNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AliquotCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AliquotCount, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aliquots, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table>
                    <tr>
                        <td>@Html.TextBox("searchCUID", "", new { @autofocus="autofocus", @class = "form-control text-box single-line valid" })</td>
                        <td style="padding-left: 5px"><button data-loading-text="Add Aliquot" id="addAliquot" name="addAliquot" type="button" class="btn btn-default" onclick="onAddCUIDClick();">Add Aliquot</button></td>
                    </tr>
                </table>
                @{var dummy = Model.Aliquots.FirstOrDefault(); }
                <table id="aliquotsRows">
                    <th>
                        @Html.DisplayNameFor(model => dummy.CSID)
                    </th>
                    <th style="padding-left: 5px">
                        @Html.DisplayNameFor(model => dummy.SubType)
                    </th>
                    <th style="padding-left: 5px">
                        @Html.DisplayNameFor(model => dummy.CUID)
                    </th>
                    <th style="padding-left: 5px">
                        @Html.DisplayNameFor(model => dummy.TestCode)
                    </th>
                    <th style="padding-left: 5px"></th>
                    <th style="padding-left: 5px"></th>
                    @foreach (var item in Model.Aliquots)
                    {
                        Html.RenderPartial("_Aliquot", item);
                    }
                </table>

            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ContractLab/Manifests")
}
<script>
    function onAddCUIDClick() {
        var cuid = $("#searchCUID").val();
        if (cuid) {
            cuid = "?cuid=" + cuid;
        } else {
            cuid = "";
        }
        $.ajax({
            url: "@Url.Action("AliquotRow", "Manifests")" + cuid,
            cache: false,
            success: function (html) {
                var newrow = html;
                if (newrow.toLowerCase().indexOf("<body>") >= 0)
                {
                    var reg = /\<body[^>]*\>([^]*)\<\/body/;
                    var content = newrow.match(reg)[1];
                    newrow = content;
                }
                $("#aliquotsRows tbody").append(newrow);
                var i = $("#AliquotCount").val();
                i++;
                $("#AliquotCount").val(i);
            }
        });
        $('#searchCUID').val('');
        $('#searchCUID').focus();
        return false;
    }

</script>
