﻿@model VirtualPagedList<ContractLab.UI.Models.ContractLab.ManifestVM>

@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Manifests";
}

<h2>Manifest Information</h2>

@if (ViewBag.AllowC)
{
<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.ProjectId })
</p>
}

<script>

    function onDownloadClick(sourceName)
    {
        $('input[name^="submitDL"]')  // for all checkboxes
        .each(function() {
            $(this).remove();
        })
        $('<input/>').attr('type', 'hidden').attr('name', sourceName).attr('value', 1).appendTo('#MultiActionForm'); 
        $('#MultiActionForm').submit();
    }

    function CallChangefunc() {
        var btnIcon = $("#applybutton i");
        if (btnIcon) {
            btnIcon.addClass("glyphicon gly-spin glyphicon-repeat");
        }

        var pgsz = $("#PageSize option:selected").val();
        var fltr = $("#IdFilter").val();
        if (fltr)
        {
            fltr = "&IdFilter=" + fltr;
        } else
        {
            fltr = "";
        }


        var CUIDfltr = $("#CUID").val();
        if (CUIDfltr)
        {
            CUIDfltr = "&CUID=" + CUIDfltr;
        } else
        {
            CUIDfltr = "";
        }

        var sfltr = $("#StatusFilterIndex option:selected").index();
        if (sfltr)
        {
            sfltr = "&StatusFilterIndex=" + sfltr;
        } else
        {
            sfltr = "";
        }



        var sortOrder = @Html.Raw(Json.Encode(ViewBag.SortOrder));
        if (sortOrder)
        {
            sortOrder = "&SortOrder=" + sortOrder;
        } else
        {
            sortOrder = "";
        }

        window.location.href = "@Url.Action("Index", "Manifests")"  + "?newcookie=true&PageSize=" + pgsz + fltr + sfltr + sortOrder + CUIDfltr;
    }
</script>

@{ Html.RenderPartial("_Dialog"); }

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("MultiAction", "Manifests", FormMethod.Post, new { id = "MultiActionForm" }))
{   
    <div id="checkboxes">
        <table id="checkboxes" class="table">
            @{var dummy = Model.FirstOrDefault(); }
            <tr></tr>
    <tr>
        <td colspan="7">
            <table>
                <tr>
                    <td style="padding-left: 20px">
                        <div class="btn-group">
                            <button data-loading-text="Download" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Download <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLS" type="submit" class="btn btn-default" data-loading-text="Specimens">Specimens</a></li>
                                <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLA" type="submit" class="btn btn-default" data-loading-text="Aliquots">Aliquots</a></li>
                            </ul>
                        </div>
                    </td>
                    <td style="padding-left: 20px">
                        <div class="btn-group">
                            <button data-loading-text="Transmit" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Transmit<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLSTrs" type="submit" class="btn btn-default" data-loading-text="Specimens">Specimens</a></li>
                                <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLATrs" type="submit" class="btn btn-default" data-loading-text="Aliquots">Aliquots</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <table>
                <tr>
                    <th>@Html.Label("Contains")</th>
                    <th style="padding-left: 20px">@Html.Label("Status")</th>
                    <th style="padding-left: 20px">@Html.Label("CUID")</th>
                    <th style="padding-left: 20px"></th>
                </tr>
                <tr>
                    <td>@Html.TextBox("IdFilter", (string)ViewBag.Filter, new { @class = "form-control text-box single-line valid" })</td>
                    <td style="padding-left: 20px">@Html.DropDownList("StatusFilterIndex", (IEnumerable<SelectListItem>)ViewBag.StatusFilters, new { @class = "form-control" })</td>
                    <td style="padding-left: 20px">@Html.TextBox("CUID", (string)ViewBag.CUID, new { @class = "form-control text-box single-line valid" })</td>
                    <td style="padding-left: 20px">
                        <button id="applybutton" data-loading-text="Applying" type="button" class="btn btn-default" onclick="CallChangefunc();"><i></i> Apply</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
            <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.Name).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Name"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.DateShipped).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["DateShipped"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.CreatedOn).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["CreatedOn"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.Status).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Status.DisplayName"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.IsVisible).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["IsVisible"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.AliquotCount).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["AliquotCount"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                <tr>
                    <td style="text-align:center">
                        @Html.Hidden("Items[" + (@i) + "].Id", item.Id)
                        @Html.CheckBox("Items[" + (@i) + "].Selected", item.Selected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateShipped)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsVisible)
                    </td>
                    <td>
                        @Html.ActionLink(item.AliquotCount.ToString(), "Edit", "Manifests", new { id = item.Id }, null)
                    </td>
                    <td>
                        <table><tr>
                                   <td style="padding-left: 5px">@if (item.AllowRUD)
                                   {@Html.ActionLink("Edit", "Edit", new { id = item.Id })}</td>
                                   <td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                                   <td style="padding-left: 5px">@if (item.AllowRUD)
                                   {@Html.ActionLink("Delete", "Delete", new { id = item.Id })}</td>
                                   <td style="padding-left: 5px">@Html.ActionLink("View", "Print", new { id = item.Id })</td>
                            </tr></table>

                    </td>
                </tr>
            }
        </table>
    </div>
    <table>
        <tr>
            <td>
                @Html.BootstrapPager(Model.PageIndex, index => Url.Action("Index", "Manifests", new { newcookie = true, page = index, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortOrder, StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID }), Model.TotalItemCount, (int)ViewBag.PageSize, 10)
            </td>
            <td style ="padding-left: 20px">
                @Html.Label("Displaying " + @Model.ItemStart + "-" + @Model.ItemEnd + " of " + @Model.TotalItemCount + " items(s)")
            </td>
            <td style="padding-left: 20px">
                @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizes, new { @onchange = "CallChangefunc();", @class = "form-control" })
            </td>
        </tr>
    </table>

    
   
}
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/ContractLab")
            @if (!String.IsNullOrEmpty(ViewBag.DialogTitle))
            {
                <script type="text/javascript">
                    $('#dialogModal').modal('show');
                </script>
            }
        }
