﻿<div class="modal fade" id="multiprintdialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogLabelMP" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="dialogLabelMP">Print Multiple Labels</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="print-qty" class="control-label">Quantity to Print:</label>
                        <input type="text" class="form-control" id="print-qty" value="@ViewBag.MultiPrintQty">
                        <input type="hidden" class="form-control" id="print-qty-hidden" value="">
                        <input type="hidden" class="form-control" id="sourceName-hidden" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="$('#print-qty-hidden').val('');">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="buttonPrint" onclick="$('#print-qty-hidden').val($('#print-qty').val());" autofocus>Print</button>
            </div>
        </div>
    </div>
</div>