﻿@model ContractLab.UI.Models.ContractLab.SpecimenVM

@{
    ViewBag.Title = "Specimens";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Specimen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CSID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CSID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecimenId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecimenId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCollected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCollected)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecimenSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecimenSource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReasonForSubmission)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReasonForSubmission)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientAge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientAgeUnits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientAgeUnits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientSex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientSex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCRInfA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCRInfA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCRpdmInfA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCRpdmInfA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCRpdmH1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCRpdmH1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCRH3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCRH3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCRInfB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCRInfB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCRBVic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCRBVic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCRBYam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCRBYam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WHOSubmittedSubtype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WHOSubmittedSubtype)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deceased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deceased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NursingHome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NursingHome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vaccinated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vaccinated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TravelCountryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelCountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TravelStateName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelStateName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TravelCountyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelCountyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TravelCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TravelReturnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelReturnDate)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.HostCellLine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostCellLine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Substrate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Substrate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassageNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassageNumber)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.PassageHistory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassageHistory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompCSID1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompCSID1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompCSID2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompCSID2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SampleClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SampleClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialStudy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateInoculated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateInoculated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.OtherLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrugResistant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrugResistant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Travel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Travel)
        </dd>*@

        <dt>
            @Html.Label("Notes")
        </dt>
        <dd>
            @Html.ActionLink("Notes", "Index", "SpecimenNote", new { id = Model.Id }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsolateCount)
        </dt>

        <dd>
            @Html.ActionLink(Model.IsolateCount.ToString(), "Index", "Isolates", new { id = Model.Id }, null)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
