﻿@model VirtualPagedList<ContractLab.UI.Models.ContractLab.SpecimenVM>

@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Specimens";
}

@{ Html.RenderPartial("_MultiPrintDialog"); }

<h2>Specimen Log-in</h2>

@if (ViewBag.AllowC)
{
<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.ProjectId })
</p>
}

<script>
    function CallChangefunc() {
        var btnIcon = $("#applybutton i");
        if (btnIcon) {
            btnIcon.addClass("glyphicon gly-spin glyphicon-repeat");
        }

        Date.prototype.formatMMDDYYYY = function(){
            return (this.getMonth() + 1) +
            "/" +  this.getDate() +
            "/" +  this.getFullYear();
        }

        Date.prototype.formatYYYMMDD = function(){

            function pad(n, width, z) {
                z = z || '0';
                n = n + '';
                return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
            }

            return  this.getFullYear() + "-" + pad((this.getMonth() + 1),2) + "-" + pad(this.getDate(),2);
        }

        var pgsz = $("#PageSize option:selected").val();
        var fltr = $("#IdFilter").val();
        if (fltr)
        {
            fltr = "&IdFilter=" + fltr;
        } else
        {
            fltr = "";
        }

        var dtFfltr = $("#From").datepicker('getDate');
        if (dtFfltr)
        {
            dtFfltr = dtFfltr.formatYYYMMDD();
            dtFfltr = "&From=" + dtFfltr;
        } else
        {
            dtFfltr = "";
        }

        var dtTfltr = $("#To").datepicker('getDate');
        if (dtTfltr)
        {
            dtTfltr = dtTfltr.formatYYYMMDD();
            dtTfltr = "&To=" + dtTfltr;
        } else
        {
            dtTfltr = "";
        }

        var CUIDfltr = $("#CUID").val();
        if (CUIDfltr)
        {
            CUIDfltr = "&CUID=" + CUIDfltr;
        } else
        {
            CUIDfltr = "";
        }

        var sfltr = $("#StatusFilterIndex option:selected").index();
        if (sfltr)
        {
            sfltr = "&StatusFilterIndex=" + sfltr;
        } else
        {
            sfltr = "";
        }

        var cfltr = $("#FilterIndexDuex option:selected").index();
        if (cfltr)
        {
            cfltr = "&FilterIndex=" + cfltr;
        } else
        {
            cfltr = "";
        }

        var FluSeasonfltr = $("#FluSeason").val();
        if (FluSeasonfltr)
        {
            FluSeasonfltr = "&FluSeason=" + FluSeasonfltr;
        } else
        {
            FluSeasonfltr = "";
        }

        var sortOrder = @Html.Raw(Json.Encode(ViewBag.SortOrder));
        if (sortOrder)
        {
            sortOrder = "&SortOrder=" + sortOrder;
        } else
        {
            sortOrder = "";
        }
        window.location.href = "@Url.Action("Index", "Specimens")" + "?newcookie=true&PageSize=" + pgsz + fltr + sfltr + cfltr + sortOrder + dtFfltr + dtTfltr + CUIDfltr + FluSeasonfltr;
    }

    function onPrintClick(sourceName, printqty)
    {
        var qty = 1;
        if (printqty) {
            qty = printqty;
        };

        $('#submitpl').remove();
        $('#submitpl_set').remove();
        $('#submitpl_who').remove();
        $('#submitplp').remove();
        $('#submitplp_set').remove();
        $('#submitplp_who').remove();
        $('#print_qty').remove();
        $('#'+sourceName).remove();
        var sourceInput = $('<input>').attr({
            type: 'hidden',
            id: sourceName,
            name: sourceName,
            value: sourceName
        });

        $('#MultiActionForm').append(sourceInput);

        var qtyInput = $('<input>').attr({
            type: 'hidden',
            id: 'print_qty',
            name: 'print_qty',
            value: qty
        });

        $('#MultiActionForm').append(qtyInput);

        $('.alert').hide();
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Specimens")",
            data: $('#MultiActionForm').serialize(),
            datatype: "html",
            success: function (data) {
                //$.ajaxSettings.traditional = true;
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: data.url,
                    data: JSON.stringify(data),
                    datatype: "json",
                    success: function (dataP) {
                        $("#checkboxes input").each(function () {
                            $(this).prop("checked", false);});
                    },
                    error: function (respE) {
                        $('#printerrortext').text("Error communicating to printer bridge");
                        $('.alert').show();
                    }
                });
            },
            error: function () {
                $('#printerrortext').text("Error getting label information from server");
                $('.alert').show();
            }
        });
    }

    function onPrintClick_Dialog(sourceName, printqty)
    {
        var qty = 1;
        if (printqty) {
            qty = printqty;
        };

        $('#submitpl').remove();
        $('#submitpl_set').remove();
        $('#submitpl_who').remove();
        $('#submitplp').remove();
        $('#submitplp_set').remove();
        $('#submitplp_who').remove();
        $('#print_qty').remove();
        $('#'+sourceName).remove();
        var sourceInput = $('<input>').attr({
            type: 'hidden',
            id: sourceName,
            name: sourceName,
            value: sourceName
        });

        $('#MultiActionForm').append(sourceInput);

        var qtyInput = $('<input>').attr({
            type: 'hidden',
            id: 'print_qty',
            name: 'print_qty',
            value: qty
        });

        $('#MultiActionForm').append(qtyInput);

        $('.alert').hide();
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Specimens")",
            data: $('#MultiActionForm').serialize(),
        datatype: "html",
        success: function (data) {
            var printWindow = window.open();
            printWindow.document.open('text/plain')
            printWindow.document.write(data);
            printWindow.document.close();
            printWindow.focus();
            printWindow.print();
            printWindow.close();
        },
        error: function () {
            
        }
    });
    }

    function onResetClick()
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Specimens")",
            data: $('#MultiActionForm').serialize(),
        datatype: "html",
        success: function (data) {
            //$.ajaxSettings.traditional = true;
            $.ajax({
                contentType: "text/html; charset=utf-8",
                type: "GET",
                url: data.url + "/RESET/",
                success: function (dataR) {
                    $('.alert').hide();
                },
                error: function (respE) {
                    $('#printerrortext').text("Error resetting the printer bridge");
                }
            });
        },
        error: function () {
            $('#printerrortext').text("Error getting printer information from server");
            $('.alert').show();
        }
    });
    }
    function onDownloadClick(sourceName)
    {
        $('input[name^="submitDL"]')  // for all checkboxes
        .each(function() {
            $(this).remove();
        })
        $('<input/>').attr('type', 'hidden').attr('name', sourceName).attr('value', 1).appendTo('#MultiActionForm'); 
        $('#MultiActionForm').submit();
    }

    function showmulti(sourceName)
    {
        $('#sourceName-hidden').val(sourceName);
        $('#print-qty-hidden').val("");
        $('#multiprintdialogModal').modal('show');
    }
</script>

@{ Html.RenderPartial("_Dialog"); }

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("MultiAction", "Specimens", FormMethod.Post, new { id = "MultiActionForm" }))
{   
    <div id="checkboxes">
        <table id="checkboxes" class="table">
            @{var dummy = Model.FirstOrDefault(); }
            <tr></tr>
            <tr>
                <td colspan="11">
                    <table>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <button data-loading-text="Print" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Print <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" name="submitpl" class="btn btn-default" onclick="onPrintClick(this.name);" data-loading-text="Parent">Parent</a></li>
                                        <li><a href="#" name="submitpl_set" class="btn btn-default" onclick="onPrintClick(this.name);" data-loading-text="Children">Children</a></li>
                                        <li><a href="#" name="submitpl_who" class="btn btn-default" onclick="onPrintClick(this.name);" data-loading-text="Parent (WHO)">Parent (WHO)</a></li>
                                        <li>&nbsp;</li>
                                        <li><a href="#" name="submitplp" class="btn btn-default" onclick="onPrintClick_Dialog(this.name);" data-loading-text="Parent">Parent (Print Dialog)</a></li>
                                        <li><a href="#" name="submitplp_set" class="btn btn-default" onclick="onPrintClick_Dialog(this.name);" data-loading-text="Children">Children (Print Dialog)</a></li>
                                        <li><a href="#" name="submitplp_who" class="btn btn-default" onclick="onPrintClick_Dialog(this.name);" data-loading-text="Parent (WHO)">Parent (WHO) (Print Dialog)</a></li>
                                    </ul>
                                </div>

                            </td>
                            <td>
                                <div class="btn-group">
                                    <button data-loading-text="Multi - Print" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Multi - Print <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" name="submitpl" class="btn btn-default" onclick="showmulti(this.name)" data-loading-text="Parent">Parent</a></li>
                                        <li><a href="#" name="submitpl_set" class="btn btn-default" onclick="showmulti(this.name);" data-loading-text="Children">Children</a></li>
                                        <li><a href="#" name="submitpl_who" class="btn btn-default" onclick="showmulti(this.name);" data-loading-text="Parent (WHO)">Parent (WHO)</a></li>
                                        <li>&nbsp;</li>
                                        <li><a href="#" name="submitplp" class="btn btn-default" onclick="showmulti(this.name)" data-loading-text="Parent (Print Dialog)">Parent (Print Dialog)</a></li>
                                        <li><a href="#" name="submitplp_set" class="btn btn-default" onclick="showmulti(this.name);" data-loading-text="Children (Print Dialog)">Children (Print Dialog)</a></li>
                                        <li><a href="#" name="submitplp_who" class="btn btn-default" onclick="showmulti(this.name);" data-loading-text="Parent (WHO) (Print Dialog)">Parent (WHO) (Print Dialog)</a></li>
                                    </ul>
                                </div>

                            </td>
                            <td style="padding-left: 20px">
                                <div class="btn-group">
                                    <button data-loading-text="Download" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Download <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLS" type="submit" class="btn btn-default" data-loading-text="Specimens">Specimens</a></li>
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLA" type="submit" class="btn btn-default" data-loading-text="Aliquots">Aliquots</a></li>
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLW" type="submit" class="btn btn-default" data-loading-text="Weekly">Weekly</a></li>
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLM" type="submit" class="btn btn-default" data-loading-text="Monthly">Monthly</a></li>
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLI" type="submit" class="btn btn-default" data-loading-text="ISR">ISR</a></li>
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLN" type="submit" class="btn btn-default" data-loading-text="NAI">NAI</a></li>
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLINOC" type="submit" class="btn btn-default" data-loading-text="INOC">INOC</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td style="padding-left: 20px">
                                <div class="btn-group">
                                    <button data-loading-text="Transmit" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Transmit<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLSTrs" type="submit" class="btn btn-default" data-loading-text="Specimens">Specimens</a></li>
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLATrs" type="submit" class="btn btn-default" data-loading-text="Aliquots">Aliquots</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td style="padding-left: 20px">
                            </td>
                            <td style="padding-left: 20px">
                                @Html.DropDownList("ChangeStatus", null, new { @class = "form-control" })
                            </td>
                            <td style="padding-left: 20px">
                                <input data-loading-text="Change Status" name="submitCS" onclick="onDownloadClick(this.name);" type="button" value="Change Status" class="btn btn-default" />
                            </td>
                            <td colspan="6" style="padding-left: 20px">
                                <div class="alert alert-danger" style="display: none">
                                    <a aria-label="close" class="close" onclick="$('.alert').hide()">&times;</a>
                                    <div id="printerror">
                                        <span id="printerrortext"></span>
                                        <br />
                                        <button data-loading-text="Reset" type="button" class="btn btn-warning btn-xs" onclick="onResetClick();">Reset</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    @*<div id="accordion" class="collapse">*@
    <table>
        <tr>
            <th>@Html.Label("Contains")</th>
            <th style="padding-left: 20px">@Html.Label("Status")</th>
            <th style="padding-left: 20px">@Html.Label("From")</th>
            <th style="padding-left: 20px">@Html.Label("To")</th>
            <th style="padding-left: 20px">@Html.Label("CUID")</th>
            <th style="padding-left: 20px">@Html.Label("Custom")</th>
            <th style="padding-left: 20px">@Html.Label("Season")</th>
            <th style="padding-left: 20px"></th>
        </tr>
        <tr>
            <td>@Html.TextBox("IdFilter", (string)ViewBag.Filter, new { @class = "form-control text-box single-line valid" })</td>
            <td style="padding-left: 20px">@Html.DropDownList("StatusFilterIndex", (IEnumerable<SelectListItem>)ViewBag.StatusFilters, new { @class = "form-control" })</td>
            <td style="padding-left: 20px">@Html.TextBox("From", (string)ViewBag.From, new { @class = "form-control datepicker" })</td>
            <td style="padding-left: 20px">@Html.TextBox("To", (string)ViewBag.To, new { @class = "form-control datepicker" })</td>
            <td style="padding-left: 20px">@Html.TextBox("CUID", (string)ViewBag.CUID, new { @autofocus="autofocus", @class = "form-control text-box single-line valid" })</td>
            <td style="padding-left: 20px">@Html.DropDownList("FilterIndexDuex", (IEnumerable<SelectListItem>)ViewBag.Filters, new { @class = "form-control" })</td>
            <td style="padding-left: 20px">@Html.TextBox("FluSeason", (int?)ViewBag.FluSeason, new { @class = "form-control text-box single-line valid", @type = "number" })</td>
            <td style="padding-left: 20px">
                <button id="applybutton" name="applybutton" data-loading-text="Applying" type="button" class="btn btn-default" onclick="CallChangefunc();"><i></i> Apply</button>
            </td>
        </tr>
    </table>
@*</div>*@
                </td>
            </tr>
            <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.SpecimenId).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["SpecimenId"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.PackageName).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Package.Name"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.SenderId).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Package.SenderId"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.CSID).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["CSID"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.SubType).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["SubType"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason })
                </th>
                @*<th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.CUID).ToString(), "Index", new { PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["CUID"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex })
                </th>*@
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.Status).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Status"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.FilterDate).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["FilterDate"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.IsolateCount).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["IsolateCount"], FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason })
                </th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                <tr>
                    <td style="text-align:center">
                        @Html.Hidden("Items[" + (@i) + "].Id", item.Id)
                        @Html.CheckBox("Items[" + (@i) + "].Selected", item.Selected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecimenId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PackageName)
                    </td>
                    <td>
                        @Html.SpanFor(modelItem => item.SenderId, new { title = item.Sender })
                        @*@Html.DisplayFor(modelItem => item.SenderId)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CSID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubType)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CUID)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FilterDate)
                    </td>
                    <td>
                        @*<a href="@Url.Action("Index", "Isolates", new { id = item.Id })"><span class="badge">@item.IsolateCount.ToString()</span></a>*@
                        @Html.ActionLink(item.IsolateCount.ToString(), "Index", "Isolates", new { id = item.Id }, null)
                    </td>
                    <td>
                        <table><tr>
                                   <td style="padding-left: 5px">@if (item.AllowRUD)
                                   {@Html.ActionLink("Edit", "Edit", new { id = item.Id })}</td>
                                   <td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                                   <td style="padding-left: 5px">@if (item.AllowRUD)
                                   {@Html.ActionLink("Delete", "Delete", new { id = item.Id })}</td>
                                   <td style="padding-left: 5px">@Html.ActionLink("Notes", "Index", "SpecimenNote", new { id = item.Id }, null)</td>
</tr></table>

                    </td>
                </tr>
            }
        </table>
    </div>
    <table>
        <tr>
            <td>
                @Html.BootstrapPager(Model.PageIndex, index => Url.Action("Index", "Specimens", new { newcookie = true, page = index, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortOrder, FilterIndex = ViewBag.FilterIndex, StatusFilterIndex = ViewBag.StatusFilterIndex, From = ViewBag.From, To = ViewBag.To, CUID = ViewBag.CUID, FluSeason = ViewBag.FluSeason }), Model.TotalItemCount, (int)ViewBag.PageSize, 10)
            </td>
            <td style ="padding-left: 20px">
                @Html.Label("Displaying " + @Model.ItemStart + "-" + @Model.ItemEnd + " of " + @Model.TotalItemCount + " items(s)")
            </td>
            <td style="padding-left: 20px">
                @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizes, new { @onchange = "CallChangefunc();", @class = "form-control" })
            </td>
        </tr>
    </table>

    
   
}
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/ContractLab/Specimens")
            <script>
                $('#multiprintdialogModal').on('shown.bs.modal', function () {
                    $('#print-qty').focus();
                })

                $('#multiprintdialogModal').on('hidden.bs.modal', function() {
                    var qty = $('#print-qty-hidden').val();
                    var sourceName = $('#sourceName-hidden').val();
                    if (qty) {
                        if (sourceName.indexOf("submitplp") > -1)
                        {
                            onPrintClick_Dialog(sourceName, qty);
                        }
                        else 
                        {
                            onPrintClick(sourceName, qty);
                        }
                    }
                });
            </script>
            @if (!String.IsNullOrEmpty(ViewBag.DialogTitle))
            {
                <script type="text/javascript">
                    $('#dialogModal').modal('show');
                </script>
            }
        }
