﻿@model ContractLab.UI.Models.ContractLab.SynonymVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Synonym</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LitsQuestionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LitsQuestionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConditionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConditionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConditionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConditionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.HiddenFor(model => model.CategoryId)
            @Html.HiddenFor(model => model.ConditionId)
            @Html.ActionLink("Back to List", "Index", "Synonym", new { id = Model.ConditionId }, null)
        </div>
    }
</div>
