﻿@model IEnumerable<ContractLab.UI.Models.ContractLab.SynonymVM>

@{
    ViewBag.Title = "Synonyms";
}

<h2>Synonyms</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.ConditionId })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LitsQuestionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConditionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LitsQuestionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConditionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Go to Conditions", "Index", "Condition", new { id = ViewBag.CategoryId }, null)
</p>
