﻿<div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="dialogLabel">@ViewBag.DialogTitle</h4>
            </div>
            <div class="modal-body">
                <p>@ViewBag.DialogBody</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">@ViewBag.DialogSuccess</button>
            </div>
        </div>
    </div>
</div>
