﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - APHL Contract Lab Accessioning Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("APHL Contract Lab Accessioning Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Packages", "Index", "Packages")</li>
                    <li>@Html.ActionLink("WHO", "Import", "WHOImport")</li>
                    <li>@Html.ActionLink("Specimens", "Index", "Specimens")</li>
                    <li>@Html.ActionLink("Manifests", "Index", "Manifests")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Administration
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Transmission Queue", "Index", "Transmissions")</li>
                                    <li>@Html.ActionLink("Transmission Files", "TransmissionFiles", "Transmissions")</li>
                                    <li>@Html.ActionLink("Hangfire Dashboard", "Hangfire", "Transmissions")</li>
                                    <li>@Html.ActionLink("Data Import", "Create", "DEIFiles")</li>
                                    <li>@Html.ActionLink("Pick List Items", "Index", "Category")</li>
                                    <li>@Html.ActionLink("Senders", "Index", "Senders")</li>
                                    <li>@Html.ActionLink("Template Import", "Create", "TemplateFiles")</li>
                                    <li>@Html.ActionLink("Filters", "Index", "Filters")</li>
                                    <li>@Html.ActionLink("Labs", "Index", "Labs")</li>
                                    <li>@Html.ActionLink("Users", "Index", "CLAWUser")</li>
                                    @*<li>@Html.ActionLink("Add User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                                    <li>@Html.ActionLink("Manage Roles", "Index", "Roles")</li>
                                    <li>@Html.ActionLink("Isolate Types", "Index", "IsolateTypes")</li>
                                    <li>@Html.ActionLink("Change User Password", "ChangeUserPassword", "Manage")</li>
                                    <li>@Html.ActionLink("WHO Translations", "Index", "WHOTranslations")</li>
                                    <li>@Html.ActionLink("Lab Consumption CSV", "LabConsumption", "Labs")</li>
                                </ul>
                              </li>
                        }
                        else
                        {
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Administration
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Labs", "Index", "Labs")</li>
                                </ul>
                            </li>
                        }
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - APHL Contract Lab Accessioning Portal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
