﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(String.Format("Hello {0}!", !User.Identity.GetUserName().Contains('@') ? User.Identity.GetUserName() : User.Identity.GetUserName().Remove(User.Identity.GetUserName().IndexOf('@'))), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @*@if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Add User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            }
        }*@
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
