﻿@model ContractLab.UI.Models.ContractLab.SpecimenNoteVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Specimen Note</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.FileName))
            {
                <span class="glyphicon glyphicon-download-alt" onclick="getfile(@Model.Id)"></span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
     @Html.HiddenFor(model => model.SpecimenId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = Model.SpecimenId })
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script>
        function getfile(id) {
            var url = "@Url.Action("Download", "SpecimenNote")" + "/" + id;
            window.location.assign(url);
        }
    </script>
}