﻿@model ContractLab.UI.Models.ContractLab.SpecimenNoteVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specimen Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.FileName))
            {
                <span class="glyphicon glyphicon-download-alt" onclick="getfile(@Model.Id)"></span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.SpecimenId })
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script>
        function getfile(id) {
            var url = "@Url.Action("Download", "SpecimenNote")" + "/" + id;
            window.location.assign(url);
        }
    </script>
}