﻿@model IEnumerable<ContractLab.UI.Models.ContractLab.SpecimenNoteVM>

@{
    ViewBag.Title = "Index";
}

<h2>Specimen Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.SpecimenId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CSID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CSID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @if(!string.IsNullOrEmpty(item.FileName))
            {
                <span class="glyphicon glyphicon-download-alt" onclick="getfile(@item.Id)"></span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script>
            function getfile(id)
            {
                var url = "@Url.Action("Download", "SpecimenNote")" + "/" + id;
                window.location.assign(url);
            }
    </script>
}