﻿@model  IEnumerable<ContractLab.UI.Models.ContractLab.TemplateVM>
@{
    ViewBag.Title = "Upload";
}

<h2>Template File Upload</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TemplateType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab)
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lab)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>


@using (Html.BeginForm("Create", "TemplateFiles", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Template File Upload</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Specimen Template File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="SpecimenTemplateFile" name="uploadS" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Aliquot Template File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="AliquotTemplateFile" name="uploadA" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Weekly Template File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="WeeklyTemplateFile" name="uploadW" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Monthly Template File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="MonthlyTemplateFile" name="uploadM" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ISR Template File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="ISRTemplateFile" name="uploadI" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("NAI Template File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="NAITemplateFile" name="uploadN" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Inoculation Template File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="INOCTemplateFile" name="uploadINOC" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Lab", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LabId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}
