﻿@model IEnumerable<ContractLab.UI.Models.ContractLab.CategoryVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LitsQuestionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConditionsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SynonymsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowBlank)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LitsQuestionId)
        </td>
        <td>
            @Html.ActionLink(item.ConditionsCount.ToString(), "Index", "Condition", new { id = item.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SynonymsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowBlank)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
