﻿@model ContractLab.UI.Models.ContractLab.DEIFile
@{
    ViewBag.Title = "Import";
}

<h2>DEI File Import</h2>

@using (Html.BeginForm("Create", "DEIFiles", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DEI File Import</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("PickList DEI File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="DEIFile" name="upload" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Client DEI File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="DEIFileClients" name="uploadclients" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Contacts DEI File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="DEIFileContacts" name="uploadcontacts" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Import" class="btn btn-default" />
            </div>
        </div>
    </div>
}