﻿@model IEnumerable<ContractLab.UI.Models.CLAWUserVM>
@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Local Users";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExternalProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExternalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RolesDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDisabled)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabName)
            </td>
            <td>
                @Html.DisplayWithBreaksFor(modelItem => item.ExternalProvider)
            </td>
            <td>
                @Html.DisplayWithBreaksFor(modelItem => item.ExternalId)
            </td>
            <td>
                @Html.DisplayWithBreaksFor(modelItem => item.HasPassword)
            </td>
            <td>
                @Html.DisplayWithBreaksFor(modelItem => item.RolesDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDisabled)
            </td>
            <td>
            <td style="padding-left: 5px">
                @if (true)
                {@Html.ActionLink("Edit", "Edit", new { id = item.Id })}
            </td>
            <td style="padding-left: 5px">@Html.ActionLink("Password", "ChangeUserPassword", new { id = item.Id })</td>
            @*<td style="padding-left: 5px">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
        </tr>
    }

</table>
