﻿<button class="btn" ng-click="returnUpload()">Return</button>
<br />
<span ng-show="items.length>0">
    <br />
    <b>Uploaded Samples and Aliquots can be accessed in the Edit Clinical Samples form</b>
    <br />
</span>
<div id="" style="overflow-y: scroll; height:500px;">
    <table ng-show="items.length>0" class=" table table-striped table-condensed table-hover">
        <thead>

            <tr>
                <th class="CSID">CSID&nbsp;</th>
                <th class="CUID">CUID&nbsp;</th>
                <th class="Attempts">Attempts&nbsp;</th>
                <th class="Progress1">Error&nbsp;</th>
                <th class="Validated">Display&nbsp;</th>
                <th class="Progress2">Duration ms&nbsp;</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.CSID}}</td>
                <td>{{item.CUID}}</td>
                <td>{{item.Attempts}}</td>
                <td>{{item.Errored}}</td>
                <td ng-bind-html="item.Display | unsafe"></td>
                <td>{{item.Duration}}</td>
                <td><button class="btn" ng-disabled="hasResponse(item)" ng-click="showResponse(item)">Raw Message</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="desiredResponse != null">
    <br /> <br /> 
    <pre ng-bind-html="desiredResponse.Response | unsafe"></pre>
    <button class="btn" ng-click="hideResponse()">Close</button>
</div>