﻿<section>

    <div flow-init
         flow-name="uploader.flow"
         flow-file-added="!!{xls:1,xlsx:1,jpg:1}[$file.getExtension()]"
         flow-files-submitted="upload()"
         flow-file-success="success($flow, $file, $message)">
        <span class="mycss1">
            THE INFLUENZA SPECIMENS SUBMISSION FORM
        </span>
        <br />
        <span class="mycss2">
            INFLUENZA DIVISION, CENTERS FOR DISEASE CONTROL AND PREVENTION ATLANTA GA U.S.A.
        </span>
        <br />
        <br />
        <span>
            Browsing and selecting a file will upload it: <button class="btn" flow-btn>Browse...</button>
        </span>
        <br />
        <br />
        <div class="panel" flow-drop>
            Dragging And dropping a file here will upload it
        </div>
        <br />
        <div ng-repeat="file in uploader.flow.files">
            {{file.name}} <button class="btn" ng-click="processFile()">{{cancelText}}</button>
        </div>
        <br />
        Target LIMS Site: 
        <select name="singleSelect" ng-model="model.limsSite" convert-to-number>
            <option value="1">Influenza CLAW</option>
            <option value="0" data-ng-selected="true">IPB</option>
            <option value="2">ZVT</option>
            <option value="3">Influenza WHO</option>
        </select>
    </div>

    <table ng-show="items.length>0" class=" table table-striped table-condensed table-hover">
        <thead>
                <th class="Filename">Site&nbsp;</th>
                <th class="Filename">Filename&nbsp;</th>
                <th class="Progress1">Prep Progress&nbsp;</th>
                <th class="Validated">Validated&nbsp;</th>
                <th class="Progress2">Message Progress&nbsp;</th>
                <th class="Error">Error&nbsp;</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.Site}}</td>
                <td>{{item.Filename}}</td>
                <td>{{item.Progress1}}</td>
                <td>{{item.Validated}}</td>
                <td>{{item.Progress2}}</td>
                <td>{{item.Error}}</td>
                <td><button class="btn" ng-click="processRow(item.Id)">Process</button></td>
                <td><button class="btn" ng-click="showDetails(item.Id)">Details</button></td>
                <!--<td><button class="btn" ng-disabled="removeDisabled(item)" ng-click="deleteRow(item.Id)">Remove</button></td>-->
                <td><button class="btn" ng-click="deleteRow(item.Id)">Remove</button></td>
</tr>
        </tbody>
    </table>
    <br />
    <span ng-show="items.length>0"><button class="btn" ng-click="cleanupRequests()">Upload Request Cleanup</button>
    </span>
</section>
