﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title: </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Sanctus copiosae eum et. Ut liber melius diceret vix, sea nostrum disputando ad. Ei sed atqui dignissim sadipscing, his eu unum ocurreret. Utinam intellegat intellegebat mea ad, ei nam utinam eleifend. Ei dicunt ornatus recusabo has, quod ferri tollit per et. Vim ea omnium nostrud, qualisque pertinacia sed no, an sea ignota dolorum.
    </p>
    <p>
        Ius ferri posse mediocritatem cu, fugit mucius vim cu. Ius rationibus sadipscing et, illum corpora splendide ut sit. Id per viris viderer ornatus, simul persius sed ut. Mel omnis partem voluptua cu, ea vim recusabo splendide prodesset. Ad velit hendrerit sit, quo animal adversarium ne. Quod tractatos contentiones mea te, eum no doming nostrud.
    </p>
    <p>
        Vel et partiendo liberavisse, altera docendi fastidii an cum. Duo ea commune dignissim, at ipsum soleat mea. Falli praesent signiferumque ea vis, no phaedrum vulputate appellantur ius. Case recusabo perpetua eu has. Sumo autem doming eu sit, mel libris melius cu. Eu cum dicam mucius virtute, at detracto epicurei mei. Adhuc impedit ei eum, in invenire liberavisse mea.    
    </p>
</article>

<aside>
    <h3>Still Interested?</h3>
    <p>
        Pick an area to check out:
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>