﻿@{
    ViewBag.Title = "PanOpTES";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <br/>
                <h2>Pandemic Operations Testing & Epidemiology Support</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Select an area:</h3>
<ol class="round">
    <li class="one">
        <h5>HITest Template Generation</h5>
        <li>@Html.ActionLink("HITest Template Generation", "Index", "HITest")</li>  
        <p>
            Mel atqui consequat ea, ut porro adversarium ius, sit ei percipit perpetua. Movet tritani consectetuer ex eum. Vel id case mollis utamur, ne est disputando eloquentiam concludaturque. Imperdiet euripidis nam ea, cum ferri conclusionemque no, eu putant electram eam.
        </p>
    </li>
    <li class="one">
        <h5>HITest Template Upload</h5>
        <li>@Html.ActionLink("HITest Template Upload", "Index", "HITestUpload")</li>  
        <p>
            Causae ponderum electram ne eos. Facilisi postulant nec te, vel aliquam dolorum et, an pro tritani prompta. Ius an wisi voluptatum. Putant numquam adipiscing et mea. Eum cetero probatus accusata et. Et eam eros atqui explicari, eos ad brute deseruisse. Ut vel recusabo abhorreant sadipscing, electram salutatus vulputate at mea.
        </p>
    </li>
</ol>
