﻿File to Process: <span ng-bind="toprocess"></span>
<br />
<!--// Bug 279-->
<!--<img ng-show="status==='processing'" src="../Content/Images/processing.gif" />-->
<div ng-show="status==='processing'">
    <span>
        Processing file, please wait for results.
    </span>
    <br />
</div>

<div ng-show="successcollection.length>0&&failurecollection.length<1">
    <span>
        You have successfully uploaded the WHO Specimens Submission Form!
    </span>
    <br />
</div>
<div ng-show="successcollection.length>0&&failurecollection.length>0">
    <span>
        All CSIDs were NOT uploaded successfully
    </span>
    <br />
</div>
</div>
<div ng-show="successcollection.length<1&&failurecollection.length>0">
    <span>
        NO CSIDs were uploaded successfully
    </span>
    <br />
</div>
    <div ng-show="successcollection.length>0">
        <span>
            The following samples can now be accessed in Sample Login
        </span>
        <div ng-repeat="fareturn in successcollection">
            {{fareturn.Display}}<br />
        </div>
        <br />
    </div>
    <div ng-show="failurecollection.length>0">
        <span>
            The following samples were NOT uploaded
        </span>
        <div ng-repeat="fareturn in failurecollection">
            {{fareturn.Display}}<br />
        </div>
        <br />
    </div>
