﻿<section>

    <div flow-init 
        flow-name="uploader.flow"
        flow-file-added="!!{xls:1,xlsx:1,jpg:1}[$file.getExtension()]"
         flow-files-submitted="upload()"
         flow-file-success="success($message)">
        <span class="mycss1">
            THE INFLUENZA SPECIMENS SUBMISSION FORM
        </span>
        <br />
        <span class="mycss2">
            WHO COLLABORATING CENTER FOR SURVEILLANCE, EPIDEMIOLOGY AND CONTROL OF INFLUENZA INFLUENZA DIVISION, CENTERS FOR DISEASE CONTROL AND PREVENTION ATLANTA GA U.S.A.
        </span>
        <br />
        <br />
        <span>
            Browsing and selecting a file will upload it: <button class="btn" flow-btn>Browse...</button>
        </span>
        <br />
        <br />
        <div class="panel" flow-drop>
                Dragging And dropping a file here will upload it
        </div>
        <br />
        <br />
        <span>Click the Process button for a file after it is uploaded</span>
            <div ng-repeat="file in uploader.flow.files">
                {{file.name}} <button class="btn" ng-click="processFile()">{{cancelText}}</button>
            </div>
</div>
</section>
