﻿@{
    ViewBag.Title = "HI Tests";
}
Select a HITest to use to generate a template:
<table id="grid"></table>
@section Scripts{
    <script>

        var crudServiceBaseUrl = "/PanOpTES/api/HITestService";
        $(document).ready(function() {
            
            jQuery("#grid").jqGrid({
                url: crudServiceBaseUrl,
                datatype: "json",
                colNames: ['Description', 'Date Tested',''],
                colModel: [
                    { name: 'TestDescription', index: 'TestDescription', width: 480 },
                    { name: 'DateTestedDisplay', index: 'DateTestedDisplay', width: 90 },
                    { name: 'act', index: 'act', width: 75, sortable: false },
                ],
                sortname: 'DateTestedDisplay',
                viewrecords: true,
                loadonce: true,
                sortable: true,
                sortorder: "desc",
                multiselect: false,
                jsonReader: {
                    repeatitems: false,
                    id: "Id"
                },
                caption: "HI Tests",
                height: '100%',
                gridComplete: function () {
                    var ids = jQuery("#grid").getDataIDs();
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        se = "<input style='height:22px;width:70px;' type='button' value='Select' onclick=window.location.href='/PanOpTES/HiTestEntry/Index/" + cl + "'; />";
                        jQuery("#grid").setRowData(ids[i], { act: se })
                    }
                }
            });
        });

    </script>
    }
