﻿@model ContractLab.UI.Models.ContractLab.FilterVM

@{
    ViewBag.Title = "Filters";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Filter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseObject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseObject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Display)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilterText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilterText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLabAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLabAvailable)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
</div>
    }
</div>
