﻿@model ContractLab.UI.Models.ContractLab.FilterVM

@{
    ViewBag.Title = "Filters";
}

<h2>Details</h2>

<div>
    <h4>Filter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseObject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseObject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Display)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilterText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilterText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLabAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLabAvailable)
        </dd>
    </dl>
</div>
<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Back to List", "Index")
</p>
