﻿@model ContractLab.UI.Models.ContractLab.WHOTranslationVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WHOTranslationVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Heading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchExpression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchExpression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplacementValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplacementValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentHeading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentHeading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
