﻿@model IEnumerable<ContractLab.UI.Models.ContractLab.WHOTranslationVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Heading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchExpression)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplacementValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentHeading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Heading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchExpression)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplacementValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentHeading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
