﻿@model IEnumerable<ContractLab.UI.Models.ContractLab.ConditionVM>

@{
    ViewBag.Title = "Conditions";
}

<h2>Conditions</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.CategoryId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LitsQuestionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sorter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SynonymsCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LitsQuestionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sorter)
        </td>
        <td>
            @Html.ActionLink(item.SynonymsCount.ToString(), "Index", "Synonym", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Go to Categories", "Index", "Category", null, null)
</p>