﻿@model ContractLab.UI.Models.ContractLab.IsolateVM

@{
    ViewBag.Title = "Sub Samples";
}

<h2>Details</h2>

<div>
    <h4>Sub Sample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CSID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CSID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsolateTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsolateTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassageLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassageLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateHarvested)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateHarvested)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Titer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedBloodCellType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedBloodCellType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AliquotCount)
        </dt>

        <dd>
            @Html.ActionLink(Model.AliquotCount.ToString(), "Index", "Aliquots", new { id = Model.Id }, null)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { id = Model.SpecimenId })
</p>
