﻿@model IEnumerable<ContractLab.UI.Models.ContractLab.IsolateVM>

@{
    ViewBag.Title = "Sub Samples";
}

<h2>Sub Sample Information</h2>

@if (ViewBag.AllowC)
{
    <p>
        @Html.ActionLink("Create New", "Create", new { id = ViewBag.SpecimenId })
    </p>
}

<script>

    function onDownloadClick(sourceName) {
        $('input[name^="submitDL"]')  // for all checkboxes
        .each(function () {
            $(this).remove();
        })
        $('<input/>').attr('type', 'hidden').attr('name', sourceName).attr('value', 1).appendTo('#MultiActionForm');
        $('#MultiActionForm').submit();
    }

    function onPrintClick(sourceName) {
        $('#submitPLP').remove();
        $('#' + sourceName).remove();
        var sourceInput = $('<input>').attr({
            type: 'hidden',
            id: sourceName,
            name: sourceName,
            value: sourceName
        });
        $('#MultiActionForm').append(sourceInput);
        $('.alert').hide();
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Isolates")",
            data: $('#MultiActionForm').serialize(),
            datatype: "html",
            success: function (data) {
                //$.ajaxSettings.traditional = true;
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: data.url,
                    data: JSON.stringify(data),
                    datatype: "json",
                    success: function (dataP) {
                        $("#checkboxes input").each(function () {
                            $(this).prop("checked", false);
                        });
                    },
                    error: function (respE) {
                        $('#printerrortext').text("Error communicating to printer bridge");
                        $('.alert').show();
                    }
                });
            },
            error: function () {
                $('#printerrortext').text("Error getting label information from server");
                $('.alert').show();
            }
        });
    }

    function onPrintClick_Dialog(sourceName) {
        $('#submitPL').remove();
        $('#' + sourceName).remove();
        var sourceInput = $('<input>').attr({
            type: 'hidden',
            id: sourceName,
            name: sourceName,
            value: sourceName
        });

        $('#MultiActionForm').append(sourceInput);
        $('.alert').hide();
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Isolates")",
            data: $('#MultiActionForm').serialize(),
        datatype: "html",
        success: function (data) {
            var printWindow = window.open();
            printWindow.document.open('text/plain')
            printWindow.document.write(data);
            printWindow.document.close();
            printWindow.focus();
            printWindow.print();
            printWindow.close();
        },
        error: function () {
        }
    });
    }

    function onResetClick()
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("MultiAction", "Isolates")",
            data: $('#MultiActionForm').serialize(),
        datatype: "html",
        success: function (data) {
            //$.ajaxSettings.traditional = true;
            $.ajax({
                contentType: "text/html; charset=utf-8",
                type: "GET",
                url: data.url + "/RESET/",
                success: function (dataR) {
                    $('.alert').hide();
                },
                error: function (respE) {
                    $('#printerrortext').text("Error resetting the printer bridge");
                }
            });
        },
        error: function () {
            $('#printerrortext').text("Error getting printer information from server");
            $('.alert').show();
        }
    });
    }
</script>

@{ Html.RenderPartial("_Dialog"); }

@using (Html.BeginForm("MultiAction", "Isolates", FormMethod.Post, new { id = "MultiActionForm" }))
{
    @Html.Hidden("ParentId", (object)ViewBag.SpecimenId )
    <div id="checkboxes">
        <table class="table">
            <tr>
                <td colspan="10">
                    <table>
                        <tr>
                            <td style="padding-left: 20px">
                                <div class="btn-group">
                                    <button data-loading-text="Transmit" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Transmit<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLSTrs" type="submit" class="btn btn-default" data-loading-text="Specimens">Specimens</a></li>
                                        <li><a href="#" onclick="onDownloadClick(this.name);" name="submitDLATrs" type="submit" class="btn btn-default" data-loading-text="Aliquots">Aliquots</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <button data-loading-text="Print Labels" name="submitPL" type="button" class="btn btn-default" onclick="onPrintClick(this.name);">Print Labels</button>
                            </td>
                            <td>
                                <button data-loading-text="Print Labels (Dialog)" name="submitPLP" type="button" class="btn btn-default" onclick="onPrintClick_Dialog(this.name);">Print Labels (Dialog)</button>
                            </td>
                            <td colspan="7" style="padding-left: 20px">
                                <div class="alert alert-danger" style="display: none">
                                    <a aria-label="close" class="close" onclick="$('.alert').hide()">&times;</a>
                                    <div id="printerror">
                                        <span id="printerrortext"></span>
                                        <br />
                                        <button data-loading-text="Reset" type="button" class="btn btn-warning btn-xs" onclick="onResetClick();">Reset</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    <tr>
        <th><input type="checkbox" id="checkall" /></th>
        <th>
            @Html.DisplayNameFor(model => model.CSID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsolateTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassageLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateHarvested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedBloodCellType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AliquotCount)
        </th>
        <th></th>
    </tr>
    @{var items = Model.ToList();}
    @for (int i = 0; i < items.Count; i++)
    {
        var item = items[i];
        <tr>
            <td style="text-align:center">
                @Html.Hidden("Items[" + (@i) + "].Id", item.Id)
                @Html.CheckBox("Items[" + (@i) + "].Selected", item.Selected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsolateTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassageLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHarvested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RedBloodCellType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink(item.AliquotCount.ToString(), "Index", "Aliquots", new { id = item.Id }, null)
            </td>
            <td>
                <table>
                    <tr>
                        <td style="padding-left: 5px">
                            @if (item.AllowRUD)
                            {@Html.ActionLink("Edit", "Edit", new { id = item.Id })}
                        </td>
                        <td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                        <td style="padding-left: 5px">
                            @if (item.AllowRUD)
                            {@Html.ActionLink("Delete", "Delete", new { id = item.Id })}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
        </table>
    <p>
        @Html.ActionLink("Go to Specimen Details", "Details", "Specimens", new { id = ViewBag.SpecimenId }, null)
    </p>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ContractLab")
    @if (!String.IsNullOrEmpty(ViewBag.DialogTitle))
    {
        <script type="text/javascript">
            $('#dialogModal').modal('show');
        </script>
    }
}