﻿@{
    ViewBag.Title = "Submit Issue";
    Layout = "";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


<div class="row" style="padding-left: 35px;">
    <div class="col-md-4" style="padding-top: 50px;">
        <img style="margin:auto" id="bug_button" src="~/Content/Images/1451443605_bug.svg" alt="Submit Bug">
        <h1 class="text-center" style="position: absolute; bottom: -50px; left: 65;">Bug</h1>
    </div>
    <div class="col-md-4" style="padding-top: 50px;">
        <img style="margin:auto" id="feedback_button" src="~/Content/Images/1451443644_light-bulb.svg" alt="Submit Suggestion">
        <h1 class="text-center" style="position: absolute; bottom: -50px; left: 65;">Idea</h1>
    </div>
</div>
<script>
    // Requires jQuery!
    jQuery.ajax({
        url: "http://idbs-jira.biotech.cdc.gov/s/d41d8cd98f00b204e9800998ecf8427e/en_US-8qq4b5-1988229788/6252/7/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?collectorId=93cdf792",
        type: "get",
        cache: true,
        dataType: "script"
    });

    jQuery.ajax({
        url: "http://idbs-jira.biotech.cdc.gov/s/d41d8cd98f00b204e9800998ecf8427e/en_US-8qq4b5-1988229788/6252/7/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?collectorId=a30fd1b0",
        type: "get",
        cache: true,
        dataType: "script"
    });

    $(document).ready(function () {

        window.ATL_JQ_PAGE_PROPS = $.extend(window.ATL_JQ_PAGE_PROPS, {
            // ==== feedback collector ====
            'a30fd1b0': {
                // === custom trigger function ===
                triggerFunction: function (showCollectorDialog) {
                    $('#feedback_button').click(function (e) {
                        e.preventDefault();
                        showCollectorDialog();
                    });
                }
            }
            // ==== bug collector ====
            , '93cdf792': {
                // === custom trigger function ===
                triggerFunction: function (showCollectorDialog) {
                    $('#bug_button').click(function (e) {
                        e.preventDefault();
                        showCollectorDialog();
                    });
                }
            }
        });
    });
</script>