﻿@model ContractLab.UI.Models.ContractLab.TransmissionVM

@{
    ViewBag.Title = "Transmissions";
}

<h2>Details</h2>

<div>
    <h4>Transmission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsolateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsolateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Payload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attempts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attempts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupercedeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupercedeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransmittedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransmittedOn)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>