﻿@model VirtualPagedList<ContractLab.UI.Models.ContractLab.TransmissionVM>

@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Transmissions";
}

<h2>Transmission Information</h2>

@*@if (ViewBag.AllowC)
{
<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.ProjectId })
</p>
}*@

<script>
    function CallChangefunc() {
        var btnIcon = $("#applybutton i");
        if (btnIcon) {
            btnIcon.addClass("glyphicon gly-spin glyphicon-repeat");
        }

        var pgsz = $("#PageSize option:selected").val();
        var fltr = $("#IdFilter").val();
        if (fltr)
        {
            fltr = "&IdFilter=" + fltr;
        } else
        {
            fltr = "";
        }


        var CUIDfltr = $("#CUID").val();
        if (CUIDfltr)
        {
            CUIDfltr = "&CUID=" + CUIDfltr;
        } else
        {
            CUIDfltr = "";
        }

        var sfltr = $("#StatusFilterIndex option:selected").index();
        if (sfltr)
        {
            sfltr = "&StatusFilterIndex=" + sfltr;
        } else
        {
            sfltr = "";
        }



        var sortOrder = @Html.Raw(Json.Encode(ViewBag.SortOrder));
        if (sortOrder)
        {
            sortOrder = "&SortOrder=" + sortOrder;
        } else
        {
            sortOrder = "";
        }

        window.location.href = "@Url.Action("Index", "Transmissions")"  + "?newcookie=true&PageSize=" + pgsz + fltr + sfltr + sortOrder + CUIDfltr;
    }
</script>

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("MultiAction", "Transmissions", FormMethod.Post, new { id = "MultiActionForm" }))
{   
    <div id="checkboxes">
        <table id="checkboxes" class="table">
            @{var dummy = Model.FirstOrDefault(); }
            <tr></tr>
    <tr>
        <td colspan="7">
            <table>
                <tr>
                    <td>
                        <input data-loading-text="Enqueue Transmissions" name="submitDLT" type="submit" value="Enqueue Transmissions" class="btn btn-default" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="7">
        </td>
    </tr>
            <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.IdDisplay).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Id"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.CSID).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Specimen.CSID"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.IsolateType).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Isolate.IsolateType.DisplayName"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.CUID).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Aliquot.CUID"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.CreatedOn).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["CreatedOn"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.SupercedeId).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["SupercedeId"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.TransmittedOn).ToString(), "Index", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["TransmittedOn"], StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID })
                </th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                <tr>
                    <td style="text-align:center">
                        @Html.Hidden("Items[" + (@i) + "].Id", item.Id)
                        @Html.CheckBox("Items[" + (@i) + "].Selected", item.Selected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDisplay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CSID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsolateType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CUID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupercedeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransmittedOn)
                    </td>
                    <td>
                        <table><tr>
                                   @*<td style="padding-left: 5px">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>*@
                                   <td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                                   <td style="padding-left: 5px">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                            </tr></table>

                    </td>
                </tr>
            }
        </table>
    </div>
    <table>
        <tr>
            <td>
                @Html.BootstrapPager(Model.PageIndex, index => Url.Action("Index", "Transmissions", new { newcookie = true, page = index, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortOrder, StatusFilterIndex = ViewBag.StatusFilterIndex, CUID = ViewBag.CUID }), Model.TotalItemCount, (int)ViewBag.PageSize, 10)
            </td>
            <td style ="padding-left: 20px">
                @Html.Label("Displaying " + @Model.ItemStart + "-" + @Model.ItemEnd + " of " + @Model.TotalItemCount + " items(s)")
            </td>
            <td style="padding-left: 20px">
                @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizes, new { @onchange = "CallChangefunc();", @class = "form-control" })
            </td>
        </tr>
    </table>

    
   
}
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/ContractLab")
        }
