﻿@model VirtualPagedList<ContractLab.UI.Models.ContractLab.TransmissionFileVM>

@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Queued Files";
}

<h2>Transmission File Information</h2>

@*@if (ViewBag.AllowC)
    {
    <p>
        @Html.ActionLink("Create New", "Create", new { id = ViewBag.ProjectId })
    </p>
    }*@

<script>
    function CallChangefunc() {
        var btnIcon = $("#applybutton i");
        if (btnIcon) {
            btnIcon.addClass("glyphicon gly-spin glyphicon-repeat");
        }

        var sType = $("#TypeIndex option:selected").val();
        if (sType)
        {
            sType = "&type=" + sType;
        } else
        {
            sType = "";
        }


        var pgsz = $("#PageSize option:selected").val();

        var sortOrder = @Html.Raw(Json.Encode(ViewBag.SortOrder));
        if (sortOrder)
        {
            sortOrder = "&SortOrder=" + sortOrder;
        } else
        {
            sortOrder = "";
        }

        window.location.href = "@Url.Action("TransmissionFiles", "Transmissions")"  + "?newcookie=true&PageSize=" + pgsz + sortOrder + sType;
    }
</script>

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("MultiAction", "Transmissions", FormMethod.Post, new { id = "MultiActionForm" }))
{
    <div id="checkboxes">
        <table id="checkboxes" class="table">
            @{var dummy = Model.FirstOrDefault(); }
            <tr></tr>
            <tr>
                <td colspan="7">
                    <table>
                        <tr>
                            <th style="padding-left: 20px">@Html.Label("Type")</th>
                            <th style="padding-left: 20px"></th>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px">@Html.DropDownList("TypeIndex", (IEnumerable<SelectListItem>)ViewBag.Types, new { @class = "form-control" })</td>
                            <td style="padding-left: 20px">
                                <button id="applybutton" data-loading-text="Applying" type="button" class="btn btn-default" onclick="CallChangefunc();"><i></i> Apply</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.DirectoryName).ToString(), "TransmissionFiles", new { newcookie = true, PageSize = ViewBag.PageSize, type = ViewBag.Type })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.Name).ToString(), "TransmissionFiles", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Name"], type = ViewBag.Type })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.LastAccessTimeUtc).ToString(), "TransmissionFiles", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["LastAccessTimeUtc"], type = ViewBag.Type })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.LastWriteTimeUtc).ToString(), "TransmissionFiles", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["LastWriteTimeUtc"], type = ViewBag.Type })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => dummy.Length).ToString(), "TransmissionFiles", new { newcookie = true, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortParm["Length"], type = ViewBag.Type })
                </th>
                <th>File</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                <tr>
                    <td style="text-align:center">
                        @Html.Hidden("Items[" + (@i) + "].Name", item.Name)
                        @Html.CheckBox("Items[" + (@i) + "].Selected", item.Selected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DirectoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastAccessTimeUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastWriteTimeUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-download-alt" onclick="getfile('@item.Name')"></span>
                    </td>
                    <td>
                        <table>
                            <tr>
                                @*<td style="padding-left: 5px">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>*@
                                @*<td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { name = item.Name })</td>*@
                                <td style="padding-left: 5px">@Html.ActionLink("Delete", "DeleteFile", new { name = item.Name })</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            }
        </table>
    </div>
    <table>
        <tr>
            <td>
                @Html.BootstrapPager(Model.PageIndex, index => Url.Action("TransmissionFiles", "Transmissions", new { newcookie = true, page = index, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, type = ViewBag.Type }), Model.TotalItemCount, (int)ViewBag.PageSize, 10)
            </td>
            <td style="padding-left: 20px">
                @Html.Label("Displaying " + @Model.ItemStart + "-" + @Model.ItemEnd + " of " + @Model.TotalItemCount + " items(s)")
            </td>
            <td style="padding-left: 20px">
                @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizes, new { @onchange = "CallChangefunc();", @class = "form-control" })
            </td>
        </tr>
    </table>



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ContractLab")
    <script>
        function getfile(name)
        {
            var url = "@Url.Action("Download", "Transmissions")" + "/?name=" + name;
            window.location.assign(url);
        }
    </script>

}
