﻿@model ContractLab.UI.Models.ContractLab.SRVMetadataVM
@*http://www.smashingmagazine.com/2015/01/designing-for-print-with-css/*@
@{
    Layout = "";
}
<style type="text/css" media="all">
		@@page {
			size: A4 portrait; /* can use also 'landscape' for orientation */
            margin: 10%;

            @@bottom-right {
            content: "Page " counter(page) " of " counter(pages);
            }
            
            @@bottom-left {
            content: 'Date Printed: @String.Format("{0:dd MMM yyyy}", DateTime.Now)'
            }
	    }

        @@page :first {
    		size: A4 portrait; /* can use also 'landscape' for orientation */
            margin: 10%;

			@@top-center {
				content: element(sender_address);
			}
            
            @@bottom-right {
            content: "Page " counter(page) " of " counter(pages);
            }

            @@bottom-left {
            content: 'Date Printed: @String.Format("{0:dd MMM yyyy}", DateTime.Now)'
            }
        }

        table {
            width: 80%;
            margin-left:10%; 
            margin-right:10%;
            border-collapse:collapse
        }

        tr:nth-child(even) {
                background: #ccc;
            }

        td {
            text-align: left;
        }

        th {
            text-align: left;
        }

		#sender_address {
			display: block;
			position: running(header);
            text-align: center;
		}

		#inside_address {
			display: block;
			position: running(header);
            text-align: left;
            word-wrap: normal;
            float: left;
            width: 50%;
            white-space: pre-line;
		}

    	#date_condition {
		    display: block;
		    position: running(header);
            text-align: right;
            word-wrap: normal;
            float: right;
		}

    	#body_start {
			display: block;
			position: running(header);
            text-align: center;
		}

		#page-header {
			display: block;
			position: running(header);
		}

		#page-footer {
			display: block;
			position: running(footer);
		}

</style>

<div id="sender_address">
    <h4>
        WHO COLLABORATING CENTER FOR INFLUENZA
    </h4>
    <p>
        Centers for Disease Control<br />
        1600 Clifton Road, G-16<br />
        Atlanta, Georgia<br />
        Voice (404)639-0250 Fax (404)639-0080<br />
    </p>
</div>

<div id="inside_address">
    <p style="max-width: 35ex">
        @Model.FullName
        <br />
        @Model.Address
        <br />
        @Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)
        @Html.DisplayNameFor(model => model.Fax): @Html.DisplayFor(model => model.Fax)
        @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)
    </p>
</div>

<div id="date_condition">
    <p style="max-width: 35ex">
        @Html.DisplayNameFor(model => model.DateReceived): @Html.DisplayFor(model => model.DateReceived)<br />
        @Html.DisplayNameFor(model => model.SpecimenCondition): @Html.DisplayFor(model => model.SpecimenCondition)<br />
    </p>
</div>
<div style="clear: both;"></div>
<div id="body_start">
    <h4>
        Specimen Receipt Verification
    </h4>
    <p>
        Thank you for sending your influenza specimens which will be processed as quickly as possible.<br />
        If you have any questions, do not hesitate to call.<br />
    </p>
</div>

<table id="body_data">
    @{var dummy = Model.Specimens.FirstOrDefault(); }
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => dummy.CSID)</th>
            <th>@Html.DisplayNameFor(model => dummy.SampleClass)</th>
            <th>@Html.DisplayNameFor(model => dummy.SpecimenId)</th>
            <th>@Html.DisplayNameFor(model => dummy.DateCollected)</th>
            <th>@Html.DisplayNameFor(model => dummy.SubType)</th>
        </tr>
   </thead>
    <tbody>
        @foreach (var item in Model.Specimens)
        {
            <tr>
                <td>@Html.DisplayFor(s => item.CSID)</td>
                <td>@Html.DisplayFor(s => item.SampleClass)</td>
                <td>@Html.DisplayFor(s => item.SpecimenId)</td>
                <td>@Html.DisplayFor(s => item.DateCollected)</td>
                <td>@Html.DisplayFor(s => item.SubType)</td>
            </tr>
        }
    </tbody>
</table>