﻿@model VirtualPagedList<ContractLab.UI.Models.ContractLab.PackageVM>
@using ContractLab.UI.App_Code;
@{
    ViewBag.Title = "Packages";
}

<script>
    function CallChangefunc() {
        var btnIcon = $("#applybutton i");
        if (btnIcon) {
            btnIcon.addClass("glyphicon gly-spin glyphicon-repeat");
        }

        var pgsz = $("#PageSize option:selected").val();
        var fltr = $("#IdFilter").val();
        if (fltr)
        {
            fltr = "&IdFilter=" + fltr;
        } else
        {
            fltr = "";
        }

        var sortOrder = @Html.Raw(Json.Encode(ViewBag.SortOrder));
        if (sortOrder)
        {
            sortOrder = "&SortOrder=" + sortOrder;
        } else
        {
            sortOrder = "";
        }

        window.location.href = "@Url.Action("Index", "Packages")"  + "?newcookie=true&PageSize=" + pgsz + fltr + sortOrder;
    }
</script>


<h2>Package Log-In</h2>
@if (ViewBag.AllowC)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    @{var dummy = Model.FirstOrDefault(); }
    <tr>
        <td colspan="7">
            <table>
                <tr>
                    <th>@Html.Label("Contains")</th>
                    <th style="padding-left: 20px"></th>
                </tr>
                <tr>
                    <td>@Html.TextBox("IdFilter", (string)ViewBag.Filter, new { @class = "form-control text-box single-line valid" })</td>
                    <td style="padding-left: 20px">
                        <button id="applybutton" type="button" class="btn btn-default" onclick="CallChangefunc();"><i></i> Apply</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.Name).ToString(), "Index", new { newcookie = true, SortOrder = ViewBag.SortParm["Name"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.Sender).ToString(), "Index", new { newcookie = true, SortOrder = ViewBag.SortParm["Sender.RasClientId"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.CompanyName).ToString(), "Index", new { newcookie = true, SortOrder = ViewBag.SortParm["Sender.CompanyName"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.CreatedOn).ToString(), "Index", new { newcookie = true, SortOrder = ViewBag.SortParm["CreatedOn"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.IsVisible).ToString(), "Index", new { newcookie = true, SortOrder = ViewBag.SortParm["IsVisible"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => dummy.SpecimenCount).ToString(), "Index", new { newcookie = true, SortOrder = ViewBag.SortParm["SpecimenCount"], PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter })
        </th>
        <th></th>
    </tr>

        @for (int i = 0; i < Model.Items.Count; i++)
        {
            var item = Model.Items[i];
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
                @Html.ActionLink(item.SpecimenCount.ToString(), "Index", "Specimens", null, null)
            </td>
            <td style="padding-left: 5px">
                <table>
                    <tr>
                        <td>
                            @if (item.AllowRUD)
                            {@Html.ActionLink("Edit", "Edit", new { id = item.Id })}
                        </td>
                        <td style="padding-left: 5px">@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                        <td style="padding-left: 5px">
                            @if (item.AllowRUD)
                            {@Html.ActionLink("Delete", "Delete", new { id = item.Id })}
                        </td>
                        <td style="padding-left: 5px">@Html.ActionLink("SRV", "SRV", new { id = item.Id })</td>
                    </tr>
                </table>
            </td>
        </tr>
}
</table>
<table>
    <tr>
        <td>
            @Html.BootstrapPager(Model.PageIndex, index => Url.Action("Index", "Packages", new { newcookie = true, page = index, PageSize = ViewBag.PageSize, IdFilter = ViewBag.IdFilter, SortOrder = ViewBag.SortOrder }), Model.TotalItemCount, (int)ViewBag.PageSize, 10)
        </td>
        <td style="padding-left: 20px">
            @Html.Label("Displaying " + @Model.ItemStart + "-" + @Model.ItemEnd + " of " + @Model.TotalItemCount + " items(s)")
        </td>
        <td style="padding-left: 20px">
            @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizes, new { @onchange = "CallChangefunc();", @class = "form-control" })
        </td>
    </tr>
</table> 